{% extends 'layouts/application.njk' %}
{% block title %}Ubytování na HC{% endblock %}
{% block head %}
<style>
  html {
      scroll-behavior: smooth;
  }

  h1 {
    text-align: center;
    margin-top: 2em;
  }

  hr {
    border: 0 none;
    height: 1px;
    background-color: #F2F2FA;
    margin: 24px 0;
  }

  .form-story {
    text-align: center;
    max-width: 40em;
    margin: 24px auto 0 auto;
    font-weight: 400;
  }

  form {
    max-width: 42em;
  }

  form section {
    margin: 0 auto;
    max-width: var(--hc-layout-width);
  }

  form section .hc-card {
    margin-bottom: 24px;
  }
  form section .hc-card p {
    text-align: center;
  }

  section.housing-type select {
    width: 100%;
    height: 36px;
    font-size: 18px;
  }

  section.housing-type label {
    display: block;
    margin-bottom: 16px;
  }

  form .choose {
    display: flex;
  }
  form .choose:not(:last-child) {
    margin-bottom: 24px;
  }

  form .choose input {
    width: 16px;
    height: 16px;
  }

  form .choose > label,
  form .choose > div {
    padding-left: 8px;
    display: block;
    flex: 1;
  }

  .booking-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 600px) {
    .booking-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  .booking-grid__cell {
  }
  .booking-grid__cell input.me {
    font-weight: bold;
  }

  form section input[list] {
    width: 100%;
    height: 36px;
    font-size: 18px;
    padding: 0 8px;
    box-sizing: border-box;
  }

  form [aria-hidden="true"] {
    display: none;
  }

  .show-placements {
    text-align: center;
    margin: 32px 8px 8px 8px;
  }
  .show-placements .hc-link {
    padding: 8px 12px;
  }

  .housing-gallery {
    margin-top: 24px;
    position: relative;
  }
  .housing-gallery a {
    display: block;
    line-height: 0;
  }
  .housing-gallery[data-count]:after {
    content: "+" attr(data-count);
    display: table;
    position: absolute;
    width: 32px;
    line-height: 32px;
    bottom: 0;
    right: 0;
    background-color: var(--hc-background-color);
    text-align: center;
    font-size: small;
    border-top: 2px solid;
    border-left: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--hc-gradient);
  }

  select, input:not([type="radio"]) {
    -webkit-appearance: none;
    border: 0 none;
    padding: 2px 8px;
    border: 1px solid #c4c4c4;
    background-color: #fff;

    /* background-color: var(--hc-background-color);
    background-image: var(--hc-background-image, none);
    color: var(--hc-color); */
  }
  input:not([type="radio"]):disabled {
    background-color: #f2f2f2;
  }

  @media (prefers-color-scheme: dark) {
    select, input:not([type="radio"]) {
    }
    input:not([type="radio"]):disabled {
      background-color: lightgray;
    }
  }


  .placements h3 {
    margin-bottom: 8px;
  }

  .housing-type:last-child {
    margin-bottom: 42px;
  }

  .gou-up {
    text-align: right;
    max-width: 50em;
  }
  .gou-up a {
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }
  .gou-up a:hover,
  .gou-up a:active {
    transform: translateY(-24px);
  }
</style>
{% endblock %}

{% block content %}
<div class="hc-code-bg">
  <header id="top" class="hc-hero mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div
        class="hc-hero__inner mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
      >
        <h1>Ubytování</h1>
      </div>
    </div>
    <div class="form-story">
      <p>Tady si zvol <strong>jak</strong>, <strong>kde</strong> a <strong>s kým</strong> ⑴ chceš na Hacker Campu bydlet.</p>
      <p><small>⑴ jo, můžeš klidně vyplnit i svého spolubydlu, pokud on tak ještě neudělal,<br> a my mu pošlem mail.</small></p>
    </div>
  </header>
  <form id="housing" action="{{ build["api-host"] }}housing" method="post" class="mdc-layout-grid">
    <section class="housing-type">
      <div class="hc-card hc-card--decorated">
        <label for="acommodation-type">Nejprve si prosím vyber, jakou formu ubytování preferuješ:</label>
        <select name="type" id="housing-type" required>
          <option value="custom">Na vlastní pěst</option>
        </select>
        <p>
          A tady kdyžtak najdeš
          <a download href="{{ images["areal-map.png"]["secure_url"] }}" target="map">mapu areálu</a>
          ke stažení.
        </p>
      </div>
    </section>
    <section class="custom-housing" aria-hidden="true">
      <h2>Na vlastní pěst</h2>
      <div class="hc-card">
        <div class="choose">
          <input type="radio" name="custom" value="own-car" id="car-housing" />
          <label for="car-housing">
            Přijedu autem a budu v něm i spát
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="custom" value="own-caravan" id="caravan-housing" />
          <label for="caravan-housing">
            Přivezu si <strong>vlastní karavan</strong>, ve kterém chci spát
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="custom" value="open-air" id="openair-housing" />
          <label for="openair-housing">
            Jsem pankáč a budu spát <strong>pod širákem</strong> nebo v&nbsp;hamace
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="custom" value="own-tent" id="own-housing" checked="checked"/>
          <label for="own-housing">
            Přivezu si <strong>vlastní stan</strong> a v něm budu spát
            <span>v areálu je k dispozici louka pro stanování</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="custom" value="nearby" id="nearby-housing" />
          <label for="nearby-housing">
            Využiji možnost <strong>ubytování v okolí</strong> (penzion, hotel)
            <span>
              V okolí je několik hezkých penzionů, zeptej se crew na případné tipy.
            </span>
          </label>
        </div>
        <button type="submit" class="hc-button">
          Uložit (se)
        </button>
      </div>
    </section>
    <div id="generated-housing-variant-sections"></div>
    <div class="gou-up">
      <a href="javascript:window.scrollTo(0, 0);">⤴</a>
    </div>
    <input type="hidden" name="year" value="{{ "this" | year }}" />
  </form>
</div>
{% endblock %}

{% block javascript %}
<script type="module">
  import { main } from "/assets/esm/housing.js";
  const formElement = document.getElementById("housing");
  main({
    formElement,
    variantsRootElement: document.getElementById(
      "generated-housing-variant-sections"
    ),
    env: {{ build | dump(8) | safe }}
  });
</script>
{% endblock %}
