@use "@material/layout-grid/mdc-layout-grid";

img.responsive {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .hc-hero {
    margin-bottom: 5em;
  }

  .hc-hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hc-camp-detail {
    position: relative;
    z-index: 1;
  }
  .hc-camp-detail::before {
    content: "";
    position: absolute;
    width: 360px;
    height: 260px;
    right: -20px;
    z-index: -1;
    background-image: cloudinaryUrl("www.hackercamp.cz/lines.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .hc-camp-detail::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 238px;
    bottom: -68px;
    right: 70px;
    z-index: -1;
    background-image: cloudinaryUrl("www.hackercamp.cz/gray-dots.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .hc-camp-detail img,
  .hc-camp-detail video {
    width: 80%;
    max-width: 622px;
  }
}

@media screen and (min-width: 600px) {
  .hc-card.hc-card--semidecorated {
    padding: 4em;
    position: relative;

    &::after {
      content: "";
      width: 148px;
      height: 148px;
      position: absolute;
      bottom: -22px;
      right: -22px;
      z-index: -1;
      background-image: cloudinaryUrl("www.hackercamp.cz/gay-dots.png");
    }
  }
  .hc-card.hc-card--superdecorated {
    width: 66%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      width: 148px;
      height: 148px;
      position: absolute;
      top: -16px;
      left: -16px;
      z-index: -1;
      background-image: var(--hc-gradient);
      transition: width 0.4s ease, height 0.4s ease;
    }
    &:active::before,
    &:hover::before {
      width: 75%;
      height: 75%;
    }

    &::after {
      content: "";
      width: 148px;
      height: 148px;
      position: absolute;
      bottom: -22px;
      right: -22px;
      z-index: -1;
      background-image: cloudinaryUrl("www.hackercamp.cz/gay-dots.png");
    }
  }
}

.hc-grey-bg {
  background-color: #f7f7f7;
}

@media screen and (prefers-color-scheme: dark) {
  .hc-grey-bg {
    background-color: #423839;
  }
}

.hc-people-bg {
  background: #82140d cloudinaryUrl("www.hackercamp.cz/IMG_20210902_213129.jpg", (effect: "blur:300" )) no-repeat
    50% 50%;
  background-size: cover;
  height: 440px;

  .hc-card {
    position: relative;
  }

  @media screen and (min-width: 600px) {
    .hc-card::before {
      content: "";
      display: block;
      width: 64px;
      height: 64px;
      position: absolute;
      top: -62px;
      left: calc(50% - 32px);
      background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65'%3E%3Cpath d='M4.46 57.583a4.603 4.603 0 003.26-1.355c2.196-2.197 2.12-7.465 2.117-7.689a.808.808 0 00-.779-.791c-.218-.006-5.42-.165-7.702 2.117-1.784 1.784-1.81 4.664-.055 6.418.868.867 2.01 1.3 3.159 1.3zm-1.962-6.577c1.246-1.245 4.068-1.59 5.712-1.642-.071 1.667-.435 4.526-1.632 5.722-1.155 1.155-3.01 1.18-4.136.056-1.124-1.125-1.1-2.98.056-4.136zM26.366 47.164a.807.807 0 00-.79.778c-.008.22-.167 5.419 2.116 7.702A4.59 4.59 0 0030.904 57h.049a4.429 4.429 0 003.157-1.302c1.755-1.754 1.73-4.634-.055-6.418-2.197-2.197-7.46-2.121-7.689-2.117zm6.548 3.258c1.155 1.155 1.18 3.01.055 4.136a2.827 2.827 0 01-2.016.829h-.032a2.985 2.985 0 01-2.088-.885c-1.245-1.245-1.59-4.067-1.642-5.712 1.667.071 4.526.436 5.723 1.632z' fill='%23fff'/%3E%3Cpath d='M49.59 18.109c-8.387 0-15.211 6.824-15.211 15.212 0 8.115 6.393 14.747 14.405 15.17v14.466H16.456V42.264C24.71 41.831 31.3 34.866 31.3 26.342 31.299 14.88 16.825.819 16.209.226a.807.807 0 00-1.11-.01C14.483.791 0 14.413 0 26.342c0 8.525 6.589 15.49 14.842 15.922v20.693H.893a.807.807 0 100 1.614H63.85a.807.807 0 100-1.614H50.398V48.49c8.012-.423 14.405-7.055 14.405-15.17 0-8.388-6.824-15.212-15.212-15.212zM6.039 13.8l8.804 8.24v11.521L2.303 21.826c.779-2.73 2.147-5.473 3.735-8.026zm22.927 8.053L16.456 33.561V22.04l8.725-8.167c1.6 2.563 2.987 5.296 3.784 7.979zM16.456 40.65v-4.878L29.41 23.648c.177.913.274 1.814.274 2.694 0 7.634-5.865 13.876-13.228 14.308zm7.836-28.155l-7.836 7.334V2.785c1.785 1.88 5.012 5.483 7.836 9.71zm-9.45-9.75v17.084l-7.915-7.408c2.845-4.258 6.118-7.832 7.915-9.676zM1.614 26.342c0-.89.094-1.794.261-2.705l12.967 12.135v4.878C7.48 40.218 1.614 33.976 1.614 26.342zm58.14-2.023l-9.356 5.392v-9.947a13.552 13.552 0 019.357 4.555zm3.347 7.5L50.398 39.14v-7.566l10.37-5.977a13.508 13.508 0 012.333 6.223zm-24.688-6.221l10.37 5.976v7.566l-12.702-7.32a13.508 13.508 0 012.332-6.223zm10.37-5.834v9.947l-9.356-5.392a13.552 13.552 0 019.357-4.555zM36.01 33.642l12.774 7.361v5.874c-7.014-.415-12.608-6.158-12.774-13.235zm14.388 13.235v-5.874l12.774-7.362c-.166 7.078-5.76 12.821-12.774 13.236z' fill='%23fff'/%3E%3Cpath d='M40.507 10.026c2.196-2.197 2.121-7.466 2.117-7.689a.808.808 0 00-.778-.791c-.218-.007-5.42-.165-7.702 2.117-1.785 1.784-1.81 4.664-.055 6.418.867.867 2.009 1.3 3.157 1.3a4.605 4.605 0 003.261-1.355zm-5.222-5.222c1.246-1.245 4.068-1.591 5.713-1.643-.071 1.668-.436 4.527-1.632 5.723-1.156 1.156-3.012 1.18-4.136.056-1.125-1.125-1.1-2.98.055-4.136zM53.981 6.687c-2.196 2.197-2.12 7.466-2.117 7.689.009.428.35.776.779.791.03 0 .155.005.355.005 1.244 0 5.38-.154 7.347-2.122 1.784-1.784 1.81-4.664.055-6.418-1.753-1.754-4.633-1.73-6.419.055zm5.277 1.086c1.125 1.125 1.1 2.98-.055 4.136-1.245 1.245-4.068 1.591-5.712 1.643.071-1.668.436-4.527 1.632-5.723a2.995 2.995 0 012.118-.883c.736 0 1.465.275 2.017.827z' fill='#fff'/%3E%3C/svg%3E%0A");
    }
  }
  @media screen and (min-width: 600px) and (prefers-color-scheme: dark) {
    .hc-card::before {
      background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65'%3E%3Cpath d='M4.46 57.583a4.603 4.603 0 003.26-1.355c2.196-2.197 2.12-7.465 2.117-7.689a.808.808 0 00-.779-.791c-.218-.006-5.42-.165-7.702 2.117-1.784 1.784-1.81 4.664-.055 6.418.868.867 2.01 1.3 3.159 1.3zm-1.962-6.577c1.246-1.245 4.068-1.59 5.712-1.642-.071 1.667-.435 4.526-1.632 5.722-1.155 1.155-3.01 1.18-4.136.056-1.124-1.125-1.1-2.98.056-4.136zM26.366 47.164a.807.807 0 00-.79.778c-.008.22-.167 5.419 2.116 7.702A4.59 4.59 0 0030.904 57h.049a4.429 4.429 0 003.157-1.302c1.755-1.754 1.73-4.634-.055-6.418-2.197-2.197-7.46-2.121-7.689-2.117zm6.548 3.258c1.155 1.155 1.18 3.01.055 4.136a2.827 2.827 0 01-2.016.829h-.032a2.985 2.985 0 01-2.088-.885c-1.245-1.245-1.59-4.067-1.642-5.712 1.667.071 4.526.436 5.723 1.632z' fill='%23222'/%3E%3Cpath d='M49.59 18.109c-8.387 0-15.211 6.824-15.211 15.212 0 8.115 6.393 14.747 14.405 15.17v14.466H16.456V42.264C24.71 41.831 31.3 34.866 31.3 26.342 31.299 14.88 16.825.819 16.209.226a.807.807 0 00-1.11-.01C14.483.791 0 14.413 0 26.342c0 8.525 6.589 15.49 14.842 15.922v20.693H.893a.807.807 0 100 1.614H63.85a.807.807 0 100-1.614H50.398V48.49c8.012-.423 14.405-7.055 14.405-15.17 0-8.388-6.824-15.212-15.212-15.212zM6.039 13.8l8.804 8.24v11.521L2.303 21.826c.779-2.73 2.147-5.473 3.735-8.026zm22.927 8.053L16.456 33.561V22.04l8.725-8.167c1.6 2.563 2.987 5.296 3.784 7.979zM16.456 40.65v-4.878L29.41 23.648c.177.913.274 1.814.274 2.694 0 7.634-5.865 13.876-13.228 14.308zm7.836-28.155l-7.836 7.334V2.785c1.785 1.88 5.012 5.483 7.836 9.71zm-9.45-9.75v17.084l-7.915-7.408c2.845-4.258 6.118-7.832 7.915-9.676zM1.614 26.342c0-.89.094-1.794.261-2.705l12.967 12.135v4.878C7.48 40.218 1.614 33.976 1.614 26.342zm58.14-2.023l-9.356 5.392v-9.947a13.552 13.552 0 019.357 4.555zm3.347 7.5L50.398 39.14v-7.566l10.37-5.977a13.508 13.508 0 012.333 6.223zm-24.688-6.221l10.37 5.976v7.566l-12.702-7.32a13.508 13.508 0 012.332-6.223zm10.37-5.834v9.947l-9.356-5.392a13.552 13.552 0 019.357-4.555zM36.01 33.642l12.774 7.361v5.874c-7.014-.415-12.608-6.158-12.774-13.235zm14.388 13.235v-5.874l12.774-7.362c-.166 7.078-5.76 12.821-12.774 13.236z' fill='%23222'/%3E%3Cpath d='M40.507 10.026c2.196-2.197 2.121-7.466 2.117-7.689a.808.808 0 00-.778-.791c-.218-.007-5.42-.165-7.702 2.117-1.785 1.784-1.81 4.664-.055 6.418.867.867 2.009 1.3 3.157 1.3a4.605 4.605 0 003.261-1.355zm-5.222-5.222c1.246-1.245 4.068-1.591 5.713-1.643-.071 1.668-.436 4.527-1.632 5.723-1.156 1.156-3.012 1.18-4.136.056-1.125-1.125-1.1-2.98.055-4.136zM53.981 6.687c-2.196 2.197-2.12 7.466-2.117 7.689.009.428.35.776.779.791.03 0 .155.005.355.005 1.244 0 5.38-.154 7.347-2.122 1.784-1.784 1.81-4.664.055-6.418-1.753-1.754-4.633-1.73-6.419.055zm5.277 1.086c1.125 1.125 1.1 2.98-.055 4.136-1.245 1.245-4.068 1.591-5.712 1.643.071-1.668.436-4.527 1.632-5.723a2.995 2.995 0 012.118-.883c.736 0 1.465.275 2.017.827z' fill='%23222'/%3E%3C/svg%3E%0A");
    }
  }
}

.hc-camp-bg {
  color: #fff;
  height: 732px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3a684 cloudinaryUrl("www.hackercamp.cz/bg-camp.png") no-repeat
    50% 50%;
  background-size: cover;
}

@media screen and (min-resolution: 2dppx) {
  .hc-camp-bg {
    background-image: cloudinaryUrl(
      "www.hackercamp.cz/bg-camp.png",
      (
        dpr: 2
      )
    );
  }
  .hc-people-bg {
    background-image: cloudinaryUrl(
      "www.hackercamp.cz/IMG_20210902_213129.jpg",
      (
        dpr: 2,
        effect: "blur:300"
      )
    );
  }
}

@media screen and (prefers-color-scheme: light) {
  .hc-code-bg {
    background: cloudinaryUrl("www.hackercamp.cz/bg-light-1x.png") repeat-x;
  }
}

.hc-price-list {
  &__item {
    h3 {
      margin: 6px 0 0;
    }
    hgroup h3 {
      margin-bottom: 0;
    }
    hgroup h4 {
      font-weight: normal;
      margin-top: 0;
    }
  }
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 86px;
  }
  &__badge {
    padding-right: 1em;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &__value {
    font-size: 1.5em;
    font-weight: bold;
  }
  &__text {
    text-align: center;
    max-width: 40em;
    margin: 0 auto 4em;
  }
  &__text:last-of-type {
    margin: 4em auto 0;
  }
}

.hc-people-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hc-people-section .hc-card {
  margin: var(--mdc-layout-grid-margin-phone);
}
@media screen and (min-width: 600px) and (max-width: 839px) {
  .hc-people-section .hc-card {
    margin: var(--mdc-layout-grid-margin-tablet);
  }
}

@media screen and (min-width: 840px) {
  .hc-people-section .hc-card {
    max-width: 800px;
    margin: var(--mdc-layout-grid-margin-desktop);
  }
}

#koho {
  .mdc-layout-grid__inner {
    gap: 0;
  }
  @media screen and (min-width: 600px) {
    .mdc-layout-grid__inner {
      margin-bottom: 6em;
    }
    .hc-card:first-child {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -16px;
        left: -16px;
        width: 175px;
        height: 238px;
        z-index: -1;
        background-image: cloudinaryUrl("www.hackercamp.cz/gray-dots.png");
      }
    }
    .mdc-layout-grid__cell + .mdc-layout-grid__cell {
      transform: translateY(6em);
    }
  }
}

#kde {
  width: 100%;
  max-width: var(--hc-layout-width);

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a em {
    display: block;
    font-style: normal;
    font-weight: normal;
  }

  .mdc-layout-grid__cell {
    padding: 2em 0;
  }

  @media screen and (min-width: 600px) {
    h2 {
      margin: 1em auto 1.5em;
    }
    .mdc-layout-grid__cell {
      padding: 4em 0;
    }
  }

  @media screen and (min-width: 840px) {
    .hc-card {
      order: 2;
    }
  }
}

#kdy {
  h2 {
    margin-top: 2em;
    -webkit-text-fill-color: initial;
    background-image: none;
  }

  .hc-card--flat {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mdc-layout-grid__inner {
    gap: 0;
  }

  @media screen and (min-width: 600px) {
    .mdc-layout-grid__inner {
      margin-top: 6em;
      margin-bottom: 12em;
    }

    .mdc-layout-grid__cell + .mdc-layout-grid__cell {
      transform: translateY(6em);
    }
  }
}

#co-vse-cekat {
  p {
    max-width: 60em;
    margin: 1em auto 4em;
  }

  .hc-card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8em;
  }
}


#faq {
  max-width: 60em;
}
