{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:promise/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "promise"],
  "rules": {
    "prettier/prettier": "error"
  }
}
