{% extends 'layouts/application.njk' %}

{% set profile = item[1] %}
{% set attendee = item[2] %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/profile.css">
{% endblock %}

{% block content %}
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <article class="hc-profile mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1>{{ profile.real_name }}</h1>
        {% if attendee.company %}<h2>{{ attendee.company }}</h2>{% endif %}
        <p>Na Slacku jako&nbsp;<code>@{{ profile.display_name or profile.real_name }}</code></p>
        {% if profile.title %}<p>{{ profile.title }}</p>{% endif %}
        <div>{{ profile.status_text }}</div>
        <div class="hc-profile__photo">
          <img
            alt="photo"
            src="{{ profile.image_192 }}"
            srcset="
              {{ profile.image_192 }} 1x,
              {{ profile.image_512 }} 2x"
            width="162"
            height="162">
        </div>
      </article>
    </div>
  </div>
{% endblock %}
