{% extends "layouts/application.njk" %}

{% block title %}Výsledky zpětné vazby za Hacker Camp 2024{% endblock %}

{% block head_stylesheets %}
  <style>
    p {
      max-width: 50em;
      text-wrap: pretty;
    }
    ul, ol {
      max-width: 45em;
      text-wrap: pretty;
    }
    main {
      margin: 0 auto;
      max-width: 56em;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="mdc-layout-grid">
    <div class="hc-card">
    <h2>Výsledky zpětné vazby za Hacker Camp 2024</h2>

    {% markdown "feedback/2024.md" %}
    </div>
  </div>
{% endblock %}
