{% extends 'layouts/application.njk' %}
{% block title %}Program Campu{% endblock %}
{% block head %}
<style>
  main > div {
    max-width: 40em;
    margin: 0 auto;
  }

  input,
  select {
    font-family: var(--hc-font-family);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    font-kerning: normal;
    font-variant-numeric: lining-nums slashed-zero;
    font-variant-ligatures: common-ligatures contextual;
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
    font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
  }

  .field {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    flex: 1;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  [aria-hidden="true"] {
    display: none !important;
  }

  .field label {
    flex: 1;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  .field input,
  .field textarea,
  .field select {
    flex: 2;
    font-size: 16px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  .field select {
    min-height: 36px;
  }

  .field--block {
    margin-bottom: 16px;
  }

  label span {
    display: block;
    font-size: 14px;
  }

</style>
{% endblock %}

{% block content %}
<div>
  <h1>Program</h1>
  <p>Hacker Camp bude jen takový, jaký si ho uděláme. Tady najdeš program a
    aktivity, co už táborníci zapsali. Další aktivty přibývají a některé
    mohou hackeři jen nahlásit na začátku každého bloku před Mainframe.
    Zkrátka: Program se může a bude měnit za chodu :) Takže se těš a sleduj
    co se děje online i&nbsp;offline.</p>
  {#
  <p><button class="hc-button" onclick="document.all['proposal-editor'].showModal()">Chci upravit svůj návrh programu</button></p>
  #}
  <p>Děkujeme za tvoje návrhy, jak chceš přispět do programu. Editace je už uzavřená.</p>
</div>

<dialog id="proposal-editor">
  <form method="dialog" class="hc-card" id="editor">
    <p>Každý z&nbsp;účastníků je zároveň aktivní tvůrce programu. Ať jsi
      jednotlivec, nebo se hlásíš za tým, jak náš Hacker Camp můžeš obohatit?
      Nápady nelimitujeme :) Můžeš přispět přednáškou, workshopem,
      panelovkou, zorganizovat ranní výběh nebo turnaj ve fotbálku. Přivést
      můžeš i&nbsp;jakýkoliv doprovodný program&nbsp;&ndash; uvítáme vše od pípy, baristy
      a přípravy kávy až po&nbsp;DJs.</p>
    <p>V&nbsp;každé aktivitě respektujeme základní pravidlo: Hacker Camp je
      z&nbsp;principu nekomerční akce. Svoji vlastní službu nebo produkt můžeš
      propagovat a nabízet jen pokud to obohatí samotnou&nbsp;akci.</p>
    <fieldset>
      <input type="hidden" name="year">
      <input type="hidden" name="email">
      <div class="field field--block">
        <label for="activity">
          Jakou aktivitu sis pro táborníky připravil?
        </label>
        <textarea id="activity" name="activity" rows="5"></textarea>
      </div>
      <div class="field field--block">
        <label for="activity-crew">
          Kdo všechno s Tebou bude aktivitu zařízovat?
          <span>Vypiš nám sem všechna jména a dej nám telefonní číslo a mail na toho, s kým můžeme případně
                řešit.</span>
        </label>
        <textarea id="activity-crew" name="activityCrew" rows="5"></textarea>
      </div>
      <div class="field field--block">
        <label for="activity-place">
          Potřebuješ k tomu nějaké speciální zázemí?
          <span>Například zásuvku, elektriku, internet, klidné zákoutí…</span>
        </label>
        <textarea id="activity-place" name="activityPlace" rows="3"></textarea>
      </div>
    </fieldset>
    <input class="hc-button" type="submit" value="Odeslat to">
  </form>
</dialog>
{% endblock %}

{% block javascript %}
<script type="module">
  const build = {{ build | dump(8) | safe }};
  const env = Object.assign({ year: {{ year }} }, build);
  const form = document.forms.editor;
  const modal = document.getElementById("proposal-editor");

  try {
    const { year } = env;
    const { email, sub: slackID } = JSON.parse(localStorage.getItem("slack:profile"));
    const response = await fetch(
      `${env["api-host"]}registration?${new URLSearchParams({ email, year, slackID })}`,
      { headers: { Accept: "application/json" } },
    );
    const data = await response.json();
    form.year.value = year;
    form.email.value = email;
    form.activity.value = data.activity ?? "";
    form.activityCrew.value = data.activityCrew ?? "";
    form.activityPlace.value = data.activityPlace ?? "";
  } catch (o_O) {
    // TODO: log with rollbar
    console.error(o_O);
    alert("Něco se kouslo, zkuste to jindy.");
  }

  form.addEventListener("submit", async e => {
    const resp = await fetch(`${env["api-host"]}program`, {
      method: "POST",
      credentials: "include",
      mode: "cors",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      body : new URLSearchParams(new FormData(e.target)),
      referrerPolicy: "no-referrer",
    });
    snackbar.labelText = resp.ok ? "Data uložena" : "Došlo k chybě";
    snackbar.show()
    modal.close();
  });
</script>
{% endblock %}
