{% extends 'layouts/application.njk' %}
{% block title %}Program Campu{% endblock %}
{% block head %}
<style>
  html {
    scroll-behavior: smooth;
  }

  #program-root {
    box-sizing: border-box;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
  }

</style>
{% endblock %}

{% block content %}
<div id="program-root"></div>
{% endblock %}

{% block javascript %}
<script type="module">
  import { main } from "/assets/esm/program.js?2";

  main({
    rootElement: document.querySelector("#program-root"),
    env: {{ build | dump(8) | safe }},
  });
</script>
{% endblock %}
