{% extends 'layouts/application.njk' %}

{% block title %}Registrace odeslána{% endblock %}
{% block head %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="hc-code-bg">
  <header id="top" class="hc-hero mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div
        class="hc-hero__inner mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
      >
        <h1>Odesláno!</h1>
      </div>
    </div>
    <div class="form-story">
      <p>Díky, fakturu odešleme na uvedený kontakt.</p>
      <p>V tuto chvílí již není možné registrační údaje měnit. Po zaplacení získáš přístup ke svému profilu.</p>
    </div>
  </header>
</div>
{% endblock %}

