{% extends "layouts/master.njk" %}

{% block title %}Tvoje registrace na Hacker Camp byla odeslána{% endblock %}

{% block head_stylesheets %}
  <style>
    h1 {
      text-align: center;
      margin-top: 2em;
    }

    hr {
      border: 0 none;
      height: 1px;
      background-color: #F2F2FA;
      margin: 24px 0;
    }

    .form-story {
      text-align: center;
      max-width: 40em;
      margin: 24px auto 0 auto;
      font-weight: 400;
    }

  </style>
{% endblock %}

{% set pageSchema = "CheckoutPage" %}

{% block navigation %}
  <a class="hc-link hc-navbar__link" href="/mapa">Mapa</a>
  <a class="hc-link hc-navbar__link" href="/faq/">FAQ</a>
{% endblock %}

{% block hero %}
  <div class="hc-code-bg">
    <header id="top" class="hc-hero">
      <div class="hc-hero__inner">
        <h1>Odesláno!</h1>
      </div>
      <div class="form-story">
        <div id="text-for-stranger">
          {% markdown "registrace/odeslano/stranger.md" %}
        </div>

        <div id="text-for-plus-one" hidden>
          {% markdown "registrace/odeslano/plus-one.md" %}
        </div>

        <p>Za Tvoji trpělivost děkujeme. Hacker Camp @crew: Kuba, Kosi, Pája, Jirka, Aleš a&nbsp;Ir</p>
        <p id="edit-reg" hidden>
          Své informace můžeš <a href="#"><strong>doplnit nebo upravit zde</strong></a>.
        </p>
      </div>
    </header>
    <script type="module">
      const { searchParams } = new URL(location.href);

      if (searchParams.has("editUrl")) {
        const editInstruciton = document.querySelector("#edit-reg");
        editInstruciton.querySelector("a").href = decodeURIComponent(searchParams.get("editUrl"));
        editInstruciton.hidden = false;
      }

      if (searchParams.has("referral")) {
        document.querySelector("#text-for-stranger").hidden = true;
        document.querySelector("#text-for-plus-one").hidden = false;
      }
    </script>
  </div>
{% endblock %}

