{% extends "layouts/application.njk" %}

{% block title %}Administrace Hacker Campu{% endblock %}

{% block head %}
  <style>
    @font-face {
      font-display: block;
      font-family: Material Icons Outlined;
      font-style: normal;
      font-weight: 400;
      src: url(/assets/css/material-icons-outlined.woff2) format("woff2");
    }

    #top {
      padding-top: 62px;
    }

    table {
      font-size: 14px;
      border-collapse: collapse;
    }

    th+th {
      padding: 8px;
    }
    td+td {
      padding: 0 8px;
    }

    thead {
      background-color: var(--hc-background-color);
      border-bottom: 3px double #ddd;
      z-index: 10;
    }
    tbody {
      z-index: 1;
    }

    thead th {
      text-align: left;
    }

    tbody tr:hover {
      background-color: var(--hc-row-highlight);
    }

    tbody td {
      border-bottom: 1px solid #ddd;
    }

    h2 select {
      color: var(--hc-text-color);
      -webkit-text-fill-color: initial;
      background-color: transparent;
      font: 600 24px var(--hc-font-family);
      padding-left: 0;
      border: none
    }

    .hc-master-detail {
      position: relative;
    }

    .hc-master-detail__list {
      --hc-viewport-compensation: 242px;
      padding: 0;
      position: relative;
      overflow-y: scroll;
      flex-shrink: 0;
      max-height: calc(100vh - var(--hc-viewport-compensation));
    }

    .hc-master-detail__list table {
      width: 100%;
    }

    .hc-master-detail__list thead {
      position: sticky;
      top: 0;
      border-bottom: none;
    }

    .hc-master-detail__list thead th::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 3px double #ddd;
    }

    @media screen and (max-width: 479px) {
      #top {
        padding-top: 48px;
      }
    }

    @media (max-width: 839px) {
      .hc-master-detail__detail {
        width: 100vw;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
      }
    }

    @media (min-width: 840px) {
      .hc-master-detail {
        display: flex;
      }

      .hc-master-detail__list {
        --hc-viewport-compensation: 212px;
        min-width: 33%;
        max-width: 50%;
      }

      .hc-master-detail__detail {
        min-width: 33%;
        transition: width .2s ease-out;
        z-index: 10;
      }
    }
  </style>

  <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block content %}
  <mwc-drawer id="drawer" type="dismissible" style="margin-top: 2em">
    <md-list>
      <md-list-item-link href="/admin/?view=confirmed" headline="Registrace"></md-list-item-link>
      <md-list-item-link href="/admin/?view=attendees" headline="Účastníci"></md-list-item-link>
      <md-list-item-link href="/admin/?view=program" headline="Program"></md-list-item-link>
      <md-list-item-link href="/admin/?view=housing" headline="Ubytování"></md-list-item-link>
    </md-list>
    <div class="mdc-layout-grid" slot="appContent">
      <div id="app-root" class="mdc-layout-grid__inner">
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
          style="display:flex; align-items: center; gap: 1em"
        >
          <md-standard-icon-button
            slot="navigationIcon"
            id="drawer-button"
          >menu</md-standard-icon-button>
          <h2 id="view-title">
            <span>Administrace</span>,
            <label>ročník
              <select id="year-selector">
                {% for year in range(2022, currentYear + 1) %}
                <option>{{ year }}</option>
                {% endfor %}
              </select>
            </label>
          </h2>
        </div>
      </div>
      <dialog id="modal" class="hc-dialog">
        <div id="modal-root"></div>
        <md-standard-icon-button data-action="close">close</md-standard-icon-button>
      </dialog>
    </div>
  </mwc-drawer>
{% endblock %}

{% block javascript %}
<script type="module">
  import { main } from "/assets/esm/admin.js";
  main({
    searchParams: new URLSearchParams(location.search),
    appRoot: document.getElementById("app-root"),
    viewTitle: document.getElementById("view-title").querySelector("span"),
    yearSelector: document.getElementById("year-selector"),
    env: {{ build | dump(8) | safe }}
  });
  const drawer = document.getElementById("drawer");
  const drawerBtn = document.getElementById("drawer-button");
  drawerBtn.addEventListener("click", () => { drawer.open = !drawer.open; });
</script>
{% endblock %}
