{% extends "layouts/application.njk" %}

{% block title %}Administrace Hacker Campu{% endblock %}

{% block head %}
  <style>
    table {
      font-size: 14px;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
    }
    thead {
      background-color: var(--hc-background-color);
      border-bottom: 3px double #ddd;
    }
    thead th {
      text-align: left;
    }
    tbody tr:hover {
      background-color: var(--hc-row-highlight);
    }
    tbody td {
      border-bottom: 1px solid #ddd;
    }
    .hc-master-detail {
      display: flex;
    }
    .hc-master-detail__list {
      overflow-y: scroll;
      min-width: 33%;
      max-width: 50%;
      flex-shrink: 0;
      max-height: calc(100vh - 286px);
      padding: 0;
    }
    .hc-master-detail__list thead {
      position: sticky;
      top: 0;
    }
    .hc-master-detail__detail {
      min-width: 33%;
      transition: width .2s ease-out;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="app-root"></div>
{% endblock %}

{% block javascript %}
<script type="module">
  import { main } from "/assets/esm/admin.js";
  main({
    searchParams: new URLSearchParams(location.search),
    appRoot: document.getElementById("app-root"),
    env: {{ build | dump(8) | safe }}
  });
</script>
{% endblock %}
