:root {
  --md-sys-color-primary: var(--hc-link-color);
  --md-sys-color-surface: var(--hc-background-color);
  --md-ref-typeface-plain: var(--hc-font-family);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mdc-theme-surface: var(--hc-background-color);
    --md-sys-color-on-surface-variant: var(--hc-text-color);
    --md-sys-color-on-surface: var(--hc-text-color);
  }
}

#drawer {
  .list {
    --_bg-color: var(--hc-background-color);
  }
  .list a {
    color: var(--hc-text-color);
  }
}

#app-root {
  margin-inline: var(--hc-gutter);
  padding-block-end: 2lh;
  container-type: inline-size;
}

#app-root > header {
  display: flex;
  align-items: center;
  gap: var(--hc-gutter);

  h2 select {
    color: var(--hc-text-color);
    -webkit-text-fill-color: initial;
    background-color: transparent;
    font: 600 24px var(--hc-font-family);
    padding-left: 0;
    border: none;
  }
}

#app-root > search {
  display: grid;
  gap: 4px 8px;
  grid-template-columns: fit-content(2ch) 1fr fit-content(11ch);
  margin-block-end: 1lh;

  &:has(form) {
    grid-template-columns: 1fr;
    gap: 0;
    container-type: inline-size;

    slotted-input {
      width: 100cqw;
      max-width: 480px;
      line-height: 1;
    }
  }
}

.hc-master-detail {
  display: grid;
  grid-template-columns: 1fr 0fr;
  transition: 250ms ease-out;

  > * {
    grid-area: 1 / 1;
  }

  .hc-master-detail__detail {
    z-index: 10;
  }

  .hc-master-detail__list {
    overflow-y: scroll;
    max-height: calc(100vh - var(--hc-viewport-compensation));
  }

  @container (width > 840px) {
    &:has(.hc-master-detail__detail) {
      grid-template-columns: 1fr 1fr;
    }

    > * {
      grid-area: initial;
    }
  }
}

.hc-master-detail__list table {
  width: 100%;
}

.hc-master-detail__list thead {
  position: sticky;
  top: 0;
  border-bottom: none;
}

.hc-master-detail__list thead th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 3px double #ddd;
}

.hc-master-detail__list .hc-badge {
  display: inline-flex;
  vertical-align: bottom;
  scale: 0.75;
}

.hc-detail__tools {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

hc-phone-button, hc-mail-button, feather-icon {
  display: inline flex;
}

hc-slack-avatar {
  display: inline grid;
  place-content: center;
  > * {
    grid-area: 1 / 1;
  }
  .hc-badge {
    z-index: 1;
    translate: 50% 50%;
    scale: 0.75;
  }
}

.hc-pagination {
  box-sizing: content-box;
  height: 32px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hc-pagination .hc-pagination__total {
  margin-right: 16px;
}

.hc-dialog {
  padding-top: 2rem;
}

.hc-dialog [data-action="close"] {
  position: absolute;
  right: 4px;
  top: 4px;
}

.hc-dialog iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

.hc-dialog > div {
  position: relative;
}

slotted-input {
  --_gap: clamp(0.5ch, 1px + 1vw, 1ch);
  display: inline flex;
  justify-content: space-between;
  color: FieldText;
  background-color: Field;
  border: 1px solid var(--hc-border-color);
  gap: var(--_gap);
  padding-inline: var(--_gap);
  overflow: clip;

  &:focus-within {
    outline: 2px solid var(--hc-link-color);
    border-radius: 4px;
  }

  .icon-button {
    width: 32px;
  }
  input {
    appearance: none;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
  }
}
