@import "./openprops-ui.css";
@import "lite-youtube-embed";

:root {
  --gray-15: oklch(0.16 0.01 255);
  --text-color-1-contrast: light-dark(var(--gray-2), var(--gray-15));
}

sup, sub {
  font-size: inherit;
  vertical-align: baseline;
  font-variant-position: super;
}

sub {
  font-variant-position: sub;
}

code {
  font-family: inherit;
  font-size: 0.9em;
  background-color: var(--hc-row-highlight);
  border-radius: 4px;
  padding: 2px 4px;
}

.icon-button:is(a, button) {
  color: var(--hc-text-color);
}

.hc-action-button {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:active {
    --hc-text-color: var(--hc-heading-color);
  }
}

.hc-card-grid {
  --_cols: 1;
  display: grid;
  padding-inline: var(--hc-gutter);
  gap: var(--hc-gutter);
  grid-template-columns: repeat(var(--_cols), 1fr);

  @container (width > 480px) {
    --_cols: 2;
  }
  @container (width > 840px) {
    --_cols: 3;
  }

  &:has(.hc-card--half) {
    --_cols: 2;
    @container (width > 480px) {
      --_cols: 4;
    }
    @container (width > 840px) {
      --_cols: 6;
    }
    .hc-card:not(.hc-card--half) {
      grid-column: span 2;
    }
  }
}

.hc-card {
  background-color: var(--hc-background-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.07);
  padding: 1em;
}

.hc-card.hc-card--decorated {
  position: relative;
  z-index: 1;
}

.hc-card.hc-card--decorated::before {
  content: "";
  display: block;
  width: 135px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: var(--hc-gradient);
  transition: width 0.4s ease;
}

.hc-card.hc-card--decorated:active::before,
.hc-card.hc-card--decorated:hover::before {
  width: 100%;
}

.hc-card.hc-card--flat {
  background-image: var(--hc-gradient);
  color: #fff;
}

.hc-card.hc-card--centered {
  text-align: center;
}

.hc-card.hc-card--picture {
  padding: 0;
}

.hc-card.hc-card--picture img.responsive {
  height: 100%;
  object-fit: cover;
}

.hc-cta, .hc-cta:link, .hc-cta:visited {
  color: #fff;
  background-image: var(--hc-gradient-btn);
  background-size: 200% 100%;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 0.75em 2.5em;
  transition: background-position 0.4s ease-in-out;
}

.hc-cta:active, .hc-cta:hover {
  background-position: 100% 0;
}

.hc-icon-link:link, .hc-icon-link:visited {
  --icon-color: var(--hc-text-color);
  color: var(--hc-text-color);
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.hc-icon-link:hover {
  --icon-color: var(--hc-link-color);
  color: var(--hc-link-color);
  text-decoration: underline;
}

.hc-icon-link svg {
  padding-right: 1ex;
}

.hc-link--decorated {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 18px 16px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--hc-gradient);
  background-image: var(--hc-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.hc-chip-set {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 4px;
  gap: 0.25lh 1ch;
}

.hc-chip {
  border: 1px solid;
  border-image: var(--hc-gradient) 1;
  background-color: var(--hc-background-color);
  background-image: var(--hc-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 24px;
}

a.hc-chip {
  text-decoration: none;
}

.hc-chip data {
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
}

.hc-chip.hc-chip--selected {
  color: #fff;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: initial;

  .text {
    color: #fff;
  }
}

.hc-button {
  color: #fff;
  background-image: var(--hc-gradient-btn);
  background-size: 200% 100%;
  font-family: var(--hc-font-family);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  display: inline-block;
  text-decoration: none;
  padding: 0.75em 2.5em;
  transition: background-position 0.4s ease-in-out;
  border: 0 none;
  margin: 16px auto;
  display: block;
}

.hc-button:active,
.hc-button:hover {
  background-position: 100% 0;
}

.hc-button:disabled {
  opacity: 0.8;
}

.hc-icon-link:link,
.hc-icon-link:visited {
  --icon-color: var(--hc-text-color);
  color: var(--hc-text-color);
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.hc-icon-link:hover {
  --icon-color: var(--hc-link-color);
  color: var(--hc-link-color);
  text-decoration: underline;
}

.hc-icon-link svg {
  padding-right: 1ex;
}

.hc-link--decorated {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 18px 16px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--hc-gradient);
  background-image: var(--hc-gradient);
  -webkit-background-clip: text;
  /* hotfix that brokes gay text color due to certain ios browsers
  with white color on white background. */
  -webkit-text-fill-color: unset;
}

@media screen and (prefers-color-scheme: light) {
  .hc-code-bg {
    background: cloudinary-url("www.hackercamp.cz/bg-light-1x.png") repeat-x;
  }
}

@layer theme {
  #hc-snackbar {
    --primary: var(--mdc-snackbar-action-color);
  }
}
