@use "@material/layout-grid/mdc-layout-grid";
@use "@material/chips/styles";

code {
  font-family: inherit;
  font-size: 0.9em;
  background-color: var(--hc-row-highlight);
  border-radius: 4px;
  padding: 2px 4px;
}

.hc-action-button {
  -webkit-appearance: none;
  border: none;
  background-color: var(--hc-background-color);
}

.mdc-evolution-chip {
  border: 1px solid;
  border-image: var(--hc-gradient) 1;
  background-color: var(--hc-background-color);
  background-image: var(--hc-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 4px;
  height: 28px;
  --mdc-ripple-color: #b9e6f1;

  .mdc-evolution-chip__ripple {
    border-radius: 4px;
  }

  .mdc-evolution-chip__graphic {
    width: 0;
    transition: width 0.1s linear;
  }

  .mdc-evolution-chip__checkmark,
  .mdc-evolution-chip__icon--primary,
  .mdc-evolution-chip__icon--trailing,
  .mdc-evolution-chip__text-label {
    color: #2f5b7e;
  }
}

.mdc-evolution-chip--filter.mdc-evolution-chip--selected,
.mdc-evolution-chip--filter.hc-chip--selected {
  color: #fff;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: initial;
  --mdc-chip-graphic-selected-width: 20px;

  .mdc-evolution-chip__text-label {
    color: #fff;
  }
  .mdc-evolution-chip__graphic {
    width: var(--mdc-chip-graphic-selected-width, 20px);
    padding-right: 8px;
  }
  .mdc-evolution-chip__checkmark {
    opacity: 1;
  }
  .mdc-evolution-chip__action--primary {
    padding-left: 8px;
  }
}

.hc-chip {
  --mdc-typography-body2-font-family: var(--hc-font-family);
}

.hc-chip data {
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
}

.hc-button {
  color: #fff;
  background-image: var(--hc-gradient-btn);
  background-size: 200% 100%;
  font-family: var(--hc-font-family);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum",
  "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  display: inline-block;
  text-decoration: none;
  padding: 0.75em 2.5em;
  transition: background-position 0.4s ease-in-out;
  border: 0 none;
  margin: 16px auto;
  display: block;
}

.hc-button:active,
.hc-button:hover {
  background-position: 100% 0;
}

.hc-button:disabled {
  opacity: .8;
}

.hc-icon-link:link,
.hc-icon-link:visited {
  --icon-color: var(--hc-text-color);
  color: var(--hc-text-color);
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.hc-icon-link:hover {
  --icon-color: var(--hc-link-color);
  color: var(--hc-link-color);
  text-decoration: underline;
}

.hc-icon-link svg {
  padding-right: 1ex;
}

.hc-link--decorated {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 18px 16px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--hc-gradient);
  background-image: var(--hc-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hc-navbar {
  position: fixed;
  width: 100%;
  height: 78px;
  background: var(--hc-background-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
  z-index: 1000;
}

.hc-navbar__link {
  line-height: 56px;
  margin-right: 2em;
}



.hc-navbar__right {
  display: none;
}

@media screen and (min-width: 600px) {
  .hc-navbar {
    height: 100px;
  }

  .hc-navbar__right {
    display: flex;
    justify-content: flex-end;
  }
}
