{% extends 'layouts/master.njk' %}

{% block title %}Zpracování osobních údajů na webu hackercamp.cz{% endblock %}

{% block head %}
<style>
  .hc-wrapper {
    max-width: 60em;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}
  <div class="mdc-layout-grid hc-wrapper">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

        <h2>Zpracování osobních údajů</h2>
        <p>Milí uživatelé,</p>

        <p>v&nbsp;souladu s&nbsp;platnou právní úpravou ochrany osobních údajů bychom se
          s&nbsp;vámi rádi podělili o&nbsp;informace, jakým způsobem, za jakým účelem a
          proč dochází ke zpracování vašich osobních údajů, o&nbsp;jaké osobní
          údaje se jedná a jak jsou u&nbsp;nás zabezpečeny. Jakýkoliv údaj, který po
          vás požadujeme, má své opodstatnění, nezpracováváme jej pro jiné
          účely, než jsou specifikovány, a pomine-li nezbytnost zpracování, údaj
          vždy vymažeme. Zároveň se snažíme o&nbsp;co nejefektivnější zabezpečení
          údajů, tak, aby se k&nbsp;nim dostal pouze omezený počet oprávněných osob a
          aby v&nbsp;žádném případě nedošlo k&nbsp;jejich zneužití. V&nbsp;případě
          jakýchkoliv dotazů se na nás neváhejte obrátit a kontaktujte nás na adrese
          <a href="mailto:team&#64;hackercamp.cz">team&#64;<!-- -->hackercamp.cz</a>.</p>

        <h3>1. Správce osobních údajů</h3>
        <p>Vaše údaje zpracovává spolek Hacker camp crew z.s., Sakařova 1102,
          Pardubice 530 03, IČO: 17130476 (dále jen: „Hacker camp“).</p>

        <p>Vzhledem k&nbsp;tomu, že Hacker camp není správcem, jehož činnost odpovídá
          popisu dle čl. 37&nbsp;odst. 1&nbsp;Obecného nařízení o&nbsp;ochraně osobních
          údajů, Hacker camp nejmenuje pověřence pro ochranu údajů. Svá práva
          související s&nbsp;vašimi osobními údaji můžete kdykoliv uplatnit na shora
          uvedené adrese, případně elektronicky prostřednictvím adresy <a
            href="mailto:team&#64;hackercamp.cz">team&#64;<!-- -->hackercamp.cz</a>.</p>

        <h3>2. Zpracovávané osobní údaje</h3>
        <p>Zpracováváme pouze osobní údaje, které nám sdělíte v&nbsp;souvislosti
          s&nbsp;registrací a účastí na akcích Hacker campu, na základě účastnické,
          partnerské či obdobné spolupráce s&nbsp;námi na těchto akcích a na základě
          vaší aktivity na našem&nbsp;webu.</p>

        <h4>Registrační údaje</h4>
        <ul>
          <li>Jméno a příjmení</li>

          <li>Email</li>

          <li>Telefonní číslo</li>

          <li>Společnost</li>

          <li>Fakturační údaje</li>

          <li>Otázky týkající se ubytování, dopravy či zapojení do programu</li>

          <li>Jméno a příjmení, e-mail a telefon kontaktních osob, které uvádíte
            se souhlasem těchto osob v&nbsp;případě, že vyplňujete náš formulář za
            3.&nbsp;osoby</li>

          <li>Fotografie a audiovizuální záznamy z&nbsp;akcí, kterých se zúčastníte, a
            to na základě vašeho souhlasu. Fotografie budou zveřejňovány na našich
            webových stránkách a sociálních sítích, případně webových stránkách
            a sociálních sítích námi prověřených partnerů.</li>

          <li>Zpětná vazba z&nbsp;akce, které se zúčastníte.</li>

          <li>V&nbsp;případě, že se zúčastníte určitého průzkumu Hacker campu,
            zpracováváme vyplňované údaje anonymně pro statistické účely.
            V&nbsp;určitých případech po Vás můžeme požadovat Vaši e-mailovou adresu,
            tu však nebudeme zpracovávat společně s&nbsp;ostatními údaji. Slouží pouze
            k&nbsp;zamezení vyplnění velkého množství odpovědí jednou osobou,
            případně pro zaslání (anonymních) výsledků průzkumu, pokud si o&nbsp;ně
            účastník zažádá.</li>
        </ul>

        <h4>Fakturační údaje</h4>
        <ul>
          <li>Jméno a příjmení</li>

          <li>IČ, příp. DIČ</li>

          <li>Adresa bydliště/sídlo</li>
        </ul>

        <h4>Ochrana osobních údajů</h4>
        <p>Údaje, které získáme na základě vaší aktivity na naší webové
          stránce:</p>

        <ul>
          <li>IP adresa</li>

          <li>soubory cookies (v&nbsp;případě online služeb)</li>

          <li>případně jiný online identifikátor</li>
        </ul>

        <h3>3. Účely zpracování</h3>
        <p>Vaše osobní údaje zpracováváme zejména za účelem:</p>

        <ul>
          <li>přihlašování na naše akce.</li>

          <li>výběru účastníků na naše akce.</li>

          <li>pořádání a organizace konferencí a jiných akcí.</li>

          <li>zaslání informací o&nbsp;spuštění přihlašování na určitou akci,
            přihlásíte-li se k&nbsp;odběru.</li>

          <li>vyhodnocení zpětné vazby z&nbsp;akcí, případně k&nbsp;jejímu zveřejnění
            (k&nbsp;tomu však dojde pouze na základě Vámi uděleného souhlasu).</li>

          <li>zabezpečení naší stránky.</li>

          <li>provozování naší stránky.</li>

          <li>zlepšování našich služeb.</li>

          <li>navázání a udržování partnerské spolupráce.</li>

          <li>provádění analýz a měření s&nbsp;cílem zjistit, jak jsou naše služby
            používány.</li>

          <li>prezentace naší činnosti na webu/sociálních sítích.</li>

          <li>vykazování naší činnosti v&nbsp;souvislosti s&nbsp;projekty, kterých se
            účastníme (týká se zejména fotografií)</li>

          <li>zveřejňování zpětné vazby z&nbsp;akcí, spolu s&nbsp;vaším jménem a
            fotografií (na základě vámi uděleného souhlasu).</li>
        </ul>

        <h3>4. Přístup k údajům</h3>
        <p>Vaše údaje jsou u&nbsp;nás v&nbsp;bezpečí. K&nbsp;předávání údajů dochází
          pouze ve výjimečných případech, vždy si ovšem pečlivě vybíráme
          partnery, kterým vaše data předáváme a kteří jsou schopni zajistit
          takové technické a organizační zabezpečení vašich údajů, aby nemohlo
          dojít k&nbsp;neoprávněnému nebo nahodilému přístupu k&nbsp;údajům či k&nbsp;jejich
          jinému zneužití. Všichni naši partneři jsou vázáni povinností
          mlčenlivosti a nesmějí využít poskytnuté údaje k&nbsp;žádným jiným
          účelům, než ke kterým jsme jim je zpřístupnili.</p>

        <p>Třetími stranami, které mohou mít přístup k&nbsp;vašim osobním
          údajům,&nbsp;jsou:</p>

        <ul>
          <li>partneři a fotografové, kterým předáváme na základě vašeho souhlasu
            fotografie z&nbsp;našich workshopů (tento souhlas lze kdykoliv odvolat
            prostřednictvím e-mailu <a
              href="mailto:team&#64;hackercamp.cz">team&#64;<!-- -->hackercamp.cz</a>). Seznam
            partnerů a fotografů najdete na našem webu , v&nbsp;sekci Partneři a v&nbsp;sekci
            Fotografové;</li>

          <li>osoby, kterým poskytujeme údaje za účelem analýzy návštěvnosti
            našeho&nbsp;webu;</li>

          <li>osoby, které pro nás zajišťují technický provoz určité služby či
            provozovatelé technologií, které pro naše služby využíváme;</li>

          <li>při účasti na workshopu také případně partneři, kteří poskytují
            prostory. Ti mohou získat např. vaše jméno a příjmení pro vstup do
            budovy, nebo e-mailovou adresu pro připojení k&nbsp;síti wi-fi.</li>
        </ul>

        <p>Za určitých, přesně definovaných, podmínek jsme povinni některé vaše
          osobní údaje předat na základě platných právních předpisů např.
          Policii ČR, popř. jiným orgánům činným v&nbsp;trestním řízení včetně
          specializovaných útvarů (ÚOOZ, Celní správa atd.) a dalším orgánům
          veřejné správy.</p>


        <h3>5. Délka zpracování</h3>
        <p>Vaše osobní údaje budeme zpracovávat po celou dobu 3&nbsp;let od vaší
          účasti na akci, a to zejména z&nbsp;důvodu vyřizování případných
          reklamací a stížností ohledně vaší účasti&nbsp;apod.</p>

        <p>Osobní údaje pro účely plnění dalších smluv zpracováváme po dobu
          3&nbsp;let od ukončení smlouvy.</p>

        <p>Osobní údaje uvedené ve fakturách zpracováváme v&nbsp;souladu
          s&nbsp;příslušnými právními předpisy po dobu 10&nbsp;let.</p>

        <p>Pokud nám udělíte souhlas s&nbsp;fotografováním a pořizováním
          audiovizuálních záznamů, budeme váš souhlas považovat za udělený pro
          konkrétní&nbsp;akci.</p>

        <p>Pokud nám udělíte souhlas se zasíláním informací, budeme váš souhlas
          považovat za platný po dobu 10&nbsp;let od udělení souhlasu. Ze zasílání
          informací se můžete vždy odhlásit způsobem uvedeným na této
          stránce.</p>

        <p>Váš feedback budeme zpracovávat po dobu 10&nbsp;let od vašeho
          přihlášení.</p>

        <p>Osobní údaje, které se týkají speciálních zdravotních potřeb
          účastníků smažeme 3&nbsp;měsíce po konání události, pro niž byly
          nezbytné. Po tyto 3&nbsp;měsíce údaje uchováváme pouze pro případ sporů a
          nezbytných vyjasňování (např. proč jsme určitou část dotací využili
          právě na asistenty apod.).</p>

        <h3>6. Titul zpracování</h3>
        <p>Vaše osobní údaje zpracováváme, v&nbsp;souladu s&nbsp;příslušnými právními
          předpisy, na základě těchto titulů:</p>

        <ul>
          <li>poskytnutí služby, smluvní plnění (splnění smlouvy uzavřené mezi
            vámi a Hacker camp, na základě níž se účastníte akcí;</li>

          <li>splnění právních povinností, které pro nás vyplývají z&nbsp;obecně
            závazných právních předpisů (např. jsme povinni uchovávat fakturační
            údaje po dobu 10&nbsp;let);</li>

          <li>zpracování, jež je nezbytné v&nbsp;rámci našich oprávněných zájmů
            (např. k&nbsp;zajištění bezpečnosti našeho webu);</li>

          <li>vámi udělený souhlas, na jehož základě např. pořizujeme fotografie
            z&nbsp;akcí nebo vám můžeme zasílat informace.</li>
        </ul>

        <h3>7. Zabezpečení údajů</h3>
        <p>Veškeré osobní údaje, které nám poskytnete, jsou zabezpečeny
          standardními postupy a technologiemi. Tak jako u&nbsp;všech ostatních
          společností, není ani u&nbsp;nás objektivně možné zcela zaručit bezpečnost
          vašich osobních údajů. To znamená, že není možné na 100% zajistit, že
          k&nbsp;poskytnutým osobním údajům nemůže získat přístup třetí osoba, že
          nemohou být zkopírovány, zveřejněny, pozměněny nebo zničeny prolomením
          našich bezpečnostních opatření.</p>

        <p>V&nbsp;této souvislosti vás nicméně ubezpečujeme, že pravidelně
          kontrolujeme, zda systém neobsahuje slabá místa a nebyl vystaven útoku a
          používáme taková bezpečností opatření, aby, pokud možno, nedošlo
          k&nbsp;neoprávněnému přístupu k&nbsp;vašim osobním údajům, a která s&nbsp;ohledem
          na aktuální stav technologií poskytují dostatečné zabezpečení. Přijatá
          bezpečnostní opatření jsou pravidelně aktualizována.</p>

        <p>K&nbsp;plnému zajištění bezpečnosti vašich údajů však potřebujeme také
          vaši pomoc a odpovědné chování. Prosíme vás tedy o&nbsp;uchovávání svého
          hesla a dalších přístupových údajů k&nbsp;našemu webu v&nbsp;tajnosti a
          dodržování základních bezpečnostních zásad. Pamatujte prosím, že
          e-maily, rychlé zprávy chatu, blogy a další typy komunikace s&nbsp;ostatními
          uživateli webových stránek nejsou šifrovány. Proto důrazně doporučujeme
          nepoužívat tyto formy komunikace při poskytování důvěrných
          informací.</p>

        <h3>8. Cookies</h3>
        <p>Cookies jsou malé datové soubory, díky kterým si navštívené webové
          stránky pamatují úkony a nastavení jednotlivých uživatelů, které na nich
          provedli, aby se tyto údaje nemusely zadávat opakovaně. Soubory cookies se
          ukládají do jednotlivých počítačů pomocí webového prohlížeče.
          Cookies nepředstavují nebezpečí, neslouží k&nbsp;získávání jakýchkoli
          citlivých osobních údajů, mají však význam pro ochranu soukromí. Cookies
          nepoužíváme pro zjištění totožnosti uživatelů webových stránek ani ke
          zneužití přihlašovacích&nbsp;ú&shy;dajů.</p>

        <p>Soubory cookie nepoužíváme&nbsp;k&nbsp;zo&shy;brazování tzv. behaviorálně
          cílené on-line inzerce.</p>

        <h3>9. Odvolání souhlasu</h3>
        <p>Váš dobrovolně udělený souhlas se zpracováním osobních údajů
          můžete kdykoli bezplatně odvolat, a to zasláním e-mailu na adresu: <a
            href="mailto:team&#64;hackercamp.cz">team&#64;<!-- -->hackercamp.cz</a>.</p>

        <p>Odvoláním souhlasu není dotčena možnost i&nbsp;nadále zpracovávat vaše
          osobní údaje na základě vašeho souhlasu, který byl dán před jeho
          odvoláním. Odvolání souhlasu také nemá vliv na zpracování osobních
          údajů, které zpracováváme na jiném právním základu, než je souhlas
          (tj. zejména je-li zpracování nezbytné pro splnění smlouvy, právní
          povinnosti či z&nbsp;jiných důvodů uvedených v&nbsp;platných právních
          předpisech).</p>

        <p>Ve vztahu k&nbsp;vašim osobním údajům máte zejména
          následující&nbsp;práva:</p>

        <ul>
          <li>právo svůj souhlas kdykoli odvolat;</li>

          <li>právo požadovat omezení zpracování;</li>

          <li>právo osobní údaje opravit či doplnit;</li>

          <li>právo vznést námitku či stížnost proti zpracování v&nbsp;určitých
            případech;</li>

          <li>právo požadovat přenesení údajů;</li>

          <li>právo na přístup k&nbsp;osobním údajům;</li>

          <li>právo být informován o&nbsp;porušení zabezpečení osobních údajů
            v&nbsp;určitých případech;</li>

          <li>právo na výmaz osobních údajů (právo být „zapomenut“)
            v&nbsp;určitých případech;</li>

          <li>a další práva stanovená v&nbsp;zákoně o&nbsp;ochraně osobních údajů a
            v&nbsp;obecném nařízení o&nbsp;ochraně osobních údajů č. 2016/679 po nabytí
            jeho účinnosti.</li>
        </ul>

        <h3>10. Kontakt</h3>
        <p>V&nbsp;případě jakéhokoli dotazu na ochranu osobních údajů či odvolání
          souhlasu s&nbsp;dalším zpracováním vašich osobních údajů nás kontaktujte na
          e-mailové adrese&nbsp;<a
            href="mailto:team&#64;hackercamp.cz">team&#64;<!-- -->hackercamp.cz</a></p>

        <p>V&nbsp;této souvislosti bychom vás chtěli upozornit, že můžeme chtít, abys
          nám vhodným způsobem prokázal/a svou totožnost, abychom si mohli ověřit
          vaši identitu. Jde o&nbsp;preventivní bezpečnostní opatření, abychom zamezili
          přístupu neoprávněných osob k&nbsp;vašim osobním údajům.</p>

      </div>
    </div>
  </div>
{% endblock %}
