{% extends "layouts/master.njk" %}

{% block title %}Zpracování osobních údajů na webu hackercamp.cz{% endblock %}

{% block head_stylesheets %}
  <style>
    .hc-wrapper {
      max-width: 60em;
      margin: 0 auto;
      padding-inline: 2ch;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="hc-wrapper">
    {% markdown "zpracovani-osobnich-udaju/text.md" %}
  </div>
{% endblock %}
