{% extends "layouts/application.njk" %}

{% block title %}Administrace Hacker Campu{% endblock %}

{% block sitemanifest %}<link rel="manifest" href="/adminmanifest.json">{% endblock %}

{% block head %}
  <style>
    #top {
      padding-top: 62px;
      min-height: calc(100vh - 178px);
    }

    @media screen and (max-width: 479px) {
      #top {
        padding-top: 48px;
      }
    }

    table {
      font-size: 14px;
      border-collapse: collapse;
    }

    th + th {
      padding: 8px;
    }

    td + td {
      padding: 0 8px;
    }

    thead {
      background-color: var(--hc-background-color);
      border-bottom: 3px double #ddd;
      z-index: 10;
    }

    tbody {
      z-index: 1;
    }

    thead th {
      text-align: left;
    }

    tbody tr:hover {
      background-color: var(--hc-row-highlight);
    }

    tbody td {
      border-bottom: 1px solid #ddd;
    }
  </style>

  <link rel="stylesheet" href="{{ 'admin.css' | assetUrl('stylesheets') }}">
{% endblock %}

{% block content %}
  <mwc-drawer id="drawer" type="dismissible" style="margin-top: 2em">
    <ul class="list">
      <li><a href="/admin/?view=confirmed">Registrace</a></li>
      <li><a href="/admin/?view=attendees">Účastníci</a></li>
      <li><a href="/admin/volunteers/">Dobrovolníci</a></li>
      <li><a href="/admin/?view=housing">Ubytování</a></li>
      <li><a href="/admin/dashboard/">Dashboard</a></li>
    </ul>
    <div slot="appContent">
      <div id="app-root">
        <header>
          <button class="icon-button" slot="navigationIcon" id="drawer-button" aria-label="Menu">
            <feather-icon name="menu" title="Menu"></feather-icon>
          </button>
          <h2 id="view-title">
            <span>Dobrovolníci</span>,
            <label>ročník
              <select id="year-selector">
                {% for yr in range(2022, year + 1) %}
                  <option>{{ yr }}</option>
                {% endfor %}
              </select>
            </label>
          </h2>
        </header>

      </div>
      <dialog id="modal" class="hc-dialog">
        <div id="modal-root"></div>
        <button class="icon-button" data-action="close" title="Zavřít" aria-label="Zavřít dialogové okno">
          <feather-icon name="x" title="Zavřít"></feather-icon>
        </button>
      </dialog>
    </div>
  </mwc-drawer>
{% endblock %}

{% block scripts %}
  <script type="module">
    import { main } from "{{ 'admin-volunteers.js' | assetUrl('esm') }}";

    const build = {{ collections.build | dump(8) | safe }};
    const event = {{ event | dump(8) | safe }};
    const tickets = {{ ticket | dump(8) | safe }};
    const year = {{ year | safe }};
    const env = Object.assign({ year, event, tickets }, build);

    main({
      searchParams: new URLSearchParams(location.search),
      appRoot: document.getElementById("app-root"),
      viewTitle: document.getElementById("view-title").querySelector("span"),
      yearSelector: document.getElementById("year-selector"),
      env,
    });
    const drawer = document.getElementById("drawer");
    const drawerBtn = document.getElementById("drawer-button");
    drawerBtn.addEventListener("click", () => { drawer.open = !drawer.open; });
  </script>
{% endblock %}
