<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="delegate-ch" content="sec-ch-width https://res.cloudinary.com; sec-ch-dpr https://res.cloudinary.com; sec-ch-viewport-width https://res.cloudinary.com;">
  {% include "shared/fonts.html" %}
  {% include "shared/styles.html" %}
  {% include "shared/app-icons.html" %}
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>

<link rel="stylesheet" href="/assets/css/header.css">
<nav class="hc-navbar mdc-layout-grid" style="line-height: 1;">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      {% include "shared/logo.html" %}
    </div>
    <div id="hc-header__profile" class="hc-navbar__right mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">

    </div>
  </div>
</nav>
<main id="top">
  {% block content %}{% endblock %}
</main>

<footer class="mdc-layout-grid">
  <p style="text-align: center">© 2021-{{ currentYear }} Hacker camp crew z.s., IČ <a
      href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1158268&typ=PLATNY">17130476</a>, DIČ CZ17130476;
    <a href="https://www.hlidacshopu.cz/zpracovani-osobnich-udaju/">Zpracování osobních údajů</a></p>
</footer>

<script type="module">
  import { init as initHeader } from "/assets/esm/header.js";
  import { init as initLayout } from "/assets/esm/layout.js";

  initHeader({
    profile: document.getElementById("hc-header__profile"),
    env: {{ build | dump(8) | safe }},
  });
  initLayout({ snackbar: document.getElementById("hc-snackbar") });
</script>

<mwc-snackbar id="hc-snackbar"></mwc-snackbar>

{% block javascript %}{% endblock %}

</body>
</html>
