{% extends "layouts/master.njk" %}
{% from "macros/helpers.njk" import twitterCardImage %}

{% block title %} Hacker Camp{% endblock %}

{% block head_stylesheets %}
  <style>
    .hc-hero {
      display: grid;
      gap: var(--hc-gutter);
      @media screen and (min-width: 640px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .hc-hero video {
      max-width: calc(100vw - var(--hc-gutter, 16px) * 2);
      @media screen and (min-width: 640px) {
        max-width: 100%;
      }
    }
  </style>
{% endblock %}

{% block head %}
  <meta
    name="description"
    content="Zažijte netradiční třídenní festival pro lidi z české tech scény. V duchu nekonference či barcampu se od sebe budeme vzájemně učit, bavit se a poznávat.">
  {{ twitterCardImage(collections.images["IMG_5429.jpg"]["public_id"]) }}
  <meta name="twitter:card" content="summary_large_image">

  <link rel="canonical" href="https://www.hackercamp.cz/">
{% endblock %}

{% set pageSchema = "Festival" %}

{% block navigation %}
  {% if event.willStartSoon %}
    <a class="hc-link hc-navbar__link" href="/mapa">Navigovat</a>
  {% endif %}
  <a class="hc-link hc-navbar__link" href="/faq/">FAQ</a>
  {% if event.isRegistrationOpen %}
    <a class="hc-link hc-link--decorated" href="/registrace/">Chci se zapojit</a>
  {% endif %}
{% endblock %}

{% block hero %}
  <link itemprop="eventStatus" href="https://schema.org/EventScheduled">
  <link itemprop="eventAttendanceMode" href="https://schema.org/MixedEventAttendanceMode">
  <div class="hc-code-bg">
    <header id="top" class="hc-hero">
      <div class="hc-hero__inner">
        <hgroup>
          <h1 itemprop="name">{{ event.name }}</h1>
          <h2><small>Hack to the Future</small></h2>
        </hgroup>
        {% if not event.willStartSoon %}
          <p itemprop="description">{{ event.details | processTypography("cs") }}</p>
          <p>
            {{ event.startDate | longDate }} &ndash; {{ event.endDate | longDate }}
            {{ event.startDate | year }} na Sobeňáku
          </p>
          {% if event.isRegistrationOpen %}<p><a class="hc-cta" href="/registrace/">Chci se zapojit</a></p>{% endif %}
        {% else %}
          <p>Vjezd do areálu je chráněn značkou zákaz vjezdu. Nelekni se. Ta napovídá správný směr. Pokračuj</p>
          <p><a href="/mapa" class="hc-cta">Navigovat</a></p>
        {% endif %}
      </div>
      <div class="hc-camp-detail">
        {% set publicId = collections.images["header-camp.png"]["public_id"] %}
        <video
          aria-hidden="true"
          class="responsive"
          muted
          autoplay
          loop
          playsinline
          width="622"
          height="622"
          poster='{{ publicId | cloudinaryUrl(width=622,height=622,crop="fill",dpr="auto") }}'>
          <source
            media="screen and (max-width: 599px)"
            type="video/mp4; codecs=av01.0.08M.08.0.110.01.01.01.1"
            src="https://res.cloudinary.com/hackercamp/video/upload/h_480,w_480/f_auto:video,vc_v1,q_auto:eco/v1720011238/www.hackercamp.cz/hackercamp_video_na_web_lxihcf">
          <source
            media="screen and (max-width: 599px)"
            src="https://res.cloudinary.com/hackercamp/video/upload/h_480,w_480/f_auto:video,vc_auto,q_auto:eco/v1720011238/www.hackercamp.cz/hackercamp_video_na_web_lxihcf">
          <source
            media="screen and (min-width: 600px) and (max-width: 839px)"
            type="video/mp4; codecs=av01.0.08M.08.0.110.01.01.01.1"
            src="https://res.cloudinary.com/hackercamp/video/upload/h_360,w_360/f_auto:video,vc_av1,q_auto:eco/v1720011238/www.hackercamp.cz/hackercamp_video_na_web_lxihcf">
          <source
            media="screen and (min-width: 600px) and (max-width: 839px)"
            src="https://res.cloudinary.com/hackercamp/video/upload/h_360,w_360/f_auto:video,vc_auto,q_auto:eco/v1720011238/www.hackercamp.cz/hackercamp_video_na_web_lxihcf">
          <source
            media="screen and (min-width: 840px)"
            type="video/mp4; codecs=av01.0.08M.08.0.110.01.01.01.1"
            src="https://res.cloudinary.com/hackercamp/video/upload/h_622,w_622/f_auto:video,vc_av1,q_auto:eco/v1720011238/www.hackercamp.cz/hackercamp_video_na_web_lxihcf">
          <source
            media="screen and (min-width: 840px)"
            src="https://res.cloudinary.com/hackercamp/video/upload/h_622,w_622/f_auto:video,vc_auto,q_auto:eco/v1720011238/www.hackercamp.cz/hackercamp_video_na_web_lxihcf">
          <picture>
            <source
              media="screen and (max-width: 599px)"
              srcset="{{ publicId | cloudinaryUrl(width=480,height=480,dpr=1) }} 1x,
                      {{ publicId | cloudinaryUrl(width=480,height=480,dpr=1.5) }} 1.5x,
                      {{ publicId | cloudinaryUrl(width=480,height=480,dpr=2) }} 2x">
            <source
              media="screen and (min-width: 600px) and (max-width: 839px)"
              srcset="{{ publicId | cloudinaryUrl(width=360,height=360,dpr=1) }} 1x,
                      {{ publicId | cloudinaryUrl(width=360,height=360,dpr=1.5) }} 1.5x,
                      {{ publicId | cloudinaryUrl(width=360,height=360,dpr=2) }} 2x">
            <source
              media="screen and (min-width: 840px)"
              srcset='{{ publicId | cloudinaryUrl(width=622,height=622,crop="fill",dpr=1) }} 1x,
                      {{ publicId | cloudinaryUrl(width=622,height=622,crop="fill",dpr=1.5) }} 1.5x,
                      {{ publicId | cloudinaryUrl(width=622,height=622,crop="fill",dpr=2) }} 2x'>
            <img
              alt=""
              loading="lazy"
              class="responsive"
              width="622"
              height="622"
              src='{{ publicId | cloudinaryUrl(width=622,height=622,crop="fill",dpr="auto") }}'>
          </picture>
        </video>
      </div>
    </header>
  </div>
{% endblock %}

{% block content %}
  <section class="hc-card-grid">
    <div class="hc-card hc-card--decorated">
      <p>Festival, nekonference, kemp. Setkání v&nbsp;přírodě s&nbsp;lidmi, kteří si
        mají co předat.</p>
    </div>
    <div class="hc-card hc-card--decorated">
      <p>Nekomerční, neformální, no-bullshit, no-sales akce.</p>
    </div>
    <div class="hc-card hc-card--decorated">
      <p>250&nbsp;účastníků hlavně z&nbsp;tech scény, kde je každý aktivním tvůrcem
        programu.</p>
    </div>
  </section>

  <section id="co-cekat">
    <h2 id="toc-co-cekat">Co čekat?</h2>
    <div class="hc-card hc-card--centered hc-card--superdecorated">
      <p class="hc-text--gay"><strong><em>Přes den diskuze, workshopy, exkluzivní program,
            sport i&nbsp;relax. Večer koncerty, party a&nbsp;DJs.</em></strong></p>

      <p>V&nbsp;duchu nekonference či barcampu se od sebe vzájemně učíme, společně
        se bavíme a poznáváme, dohromady kemp tvoříme. Každý je aktivním
        tvůrcem kempu, nerozdělujeme speakery a účastníky. Chceme, ať jsme na
        kempu co nejvíc v&nbsp;přítomnosti, přitom tvořit lepší budoucnost. Jaké si
        to uděláme, takové to bude, a to platí jak pro kemp tak budoucnost. Večer
        patří kapelám, DJs a&nbsp;párty.</p>

      <p><strong>Poznejte lidi, které chcete znát, pojďte společně hacknout
          budoucnost.</strong></p>
    </div>
  </section>

  <section id="koho">
    <h2 id="toc-koho-potkas">Koho potkáš?</h2>
    <div class="hc-card">
      <p>Fajn lidi, hlavně z&nbsp;české tech scény a spřátelených neziskovek.
        Hacker Camp je jen pro zvané a každý za své pozvané ručí. Kapacita je
        tři stovky, ale areál je obrovský a kemp je skvělý pro introverty.</p>
      <p>Hacker Camp je o&nbsp;lidech, chceme jej strávit s&nbsp;kamarády a těmi, které za
        kamarády chceme. Roli nehraje status, ale osobnost - <strong>nechceme kretény</strong>.</p>
    </div>
    <div class="hc-card hc-card--flat">
      <p>Každý účastník kempu je zároveň jeho tvůrcem, po každém požadujeme
        zapojení, ať již v&nbsp;programu nebo v&nbsp;pomoci s&nbsp;akcí samotnou.</p>
      <p>Akce není jen pro vývojáře, nejde o&nbsp;hackathon. Hacker je pro nás
        někdo, kdo hledá nové způsoby, chce stavět nebo zažít něco nového.</p>
    </div>
  </section>

  <section id="pro-koho">
    <h2 id="toc-pro-koho">Pro koho?</h2>
  </section>
  <div class="hc-people-bg hc-people-section">
    <div class="hc-card">
      <p>Kdo jsou hackeři, se kterými se potkáš? Majitelé firem, investoři,
        programátoři a dataři, NGOs, NPOs a další social justice warriors, bio
        hacking nadšenci a otužilci&nbsp;&ndash; prostě lidi jako&nbsp;ty.</p>
      <p>
        Předchozí ročníky si užili holky a kluci například z&nbsp;<span
          itemprop="organizer"
          typeof="Organization"><a itemprop="sameAs" href="https://apify.com/">Apify</a></span>,
        <span itemprop="organizer" typeof="Organization"><a
            itemprop="sameAs"
            href="https://hckr.studio/">hckr.studio</a></span>,
        <span itemprop="organizer" typeof="Organization"><a
            itemprop="sameAs" href="https://www.fenekpr.cz/">Fenek</a
          ></span>,
        <span itemprop="organizer" typeof="Organization"><a
            itemprop="sameAs"
            href="https://www.czechitas.cz/">Czechitas</a></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs" href="https://www.hlidacstatu.cz/">Hlídač
              Státu</a></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs"
            href="https://www.mavericks.legal/">Mavericks</a></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs"
            href="https://www.reflexcapital.com/">Reflex Capital</a></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs"
            href="https://carldatacompany.com/">Carl</a></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs"
            href="https://www.bizmachine.com/">BizMachine</a></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs"
            href="https://www.csas.cz/">Česká spořitelna</a
          ></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs" href="https://www.heureka.cz/">Heureka</a
          ></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs"
            href="https://applifting.io/">Applifting</a></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs" href="https://keboola.com/">Keboola</a
          ></span>,
        <span itemprop="attendee" typeof="Organization"><a
            itemprop="sameAs"
            href="https://cesko.digital/">česko.digital</a></span>.
      </p>
    </div>
  </div>
  <div class="hc-grey-bg">
    <section id="obsah-campu">
      <h2 id="toc-kazdy-z-nas-tvori-obsah-campu">
        Každý z nás tvoří obsah campu
      </h2>
      <div class="hc-card-grid">
        <div class="hc-card hc-card--decorated">
          <p>Každý účastník je zároveň tvůrce akce. Od každého čekáme aktivní
            zapojení podle vlastních možností.</p>
        </div>
        <div class="hc-card hc-card--picture hc-card--centered">
          {% set publicId = collections.images["A7R04297.jpg"]["public_id"] %}
          <img
            class="responsive"
            loading="lazy"
            alt=""
            width="500"
            height="281"
            src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
            srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
        </div>
        <div class="hc-card hc-card--picture hc-card--centered">
          {% set publicId = collections.images["IMG_5182.jpg"]["public_id"] %}
          <img
            class="responsive"
            loading="lazy"
            alt=""
            width="500"
            height="281"
            src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
            srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
        </div>
        <div class="hc-card hc-card--picture hc-card--centered">
          {% set publicId = collections.images["IMG_6026.jpg"]["public_id"] %}
          <img
            class="responsive"
            loading="lazy"
            alt=""
            width="500"
            height="281"
            src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
            srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
        </div>
        <div class="hc-card hc-card--decorated">
          <p>
            Můžeš přispět přednáškou, workshopem, naštípat dřevo, přivést legacy hrací konzoli, deskovku, zorganizovat
            ranní výběh nebo turnaj v&nbsp;jakémkoliv sportu.
          </p>
        </div>
        <div class="hc-card hc-card--picture hc-card--centered">
          {% set publicId = collections.images["IMG_6916_1.jpg"]["public_id"] %}
          <img
            class="responsive"
            loading="lazy"
            alt=""
            width="500"
            height="281"
            src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
            srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
        </div>
        <div class="hc-card hc-card--picture hc-card--centered">
          {% set publicId = collections.images["NM6A4967.jpg"]["public_id"] %}
          <img
            class="responsive"
            loading="lazy"
            alt=""
            width="500"
            height="281"
            src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
            srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
        </div>
        <div class="hc-card hc-card--picture hc-card--centered">
          {% set publicId = collections.images["NM6A4775.jpg"]["public_id"] %}
          <img
            class="responsive"
            loading="lazy"
            alt=""
            width="500"
            height="281"
            src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
            srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
        </div>
        <div class="hc-card hc-card--decorated">
          <p>Účastníci většinou trpí FOMO, protože je toho v&nbsp;nabídce strašně moc.
            Zvaž svou participaci na programu s&nbsp;více lidma na něčem, co tu ještě
            nebylo. Pojďme společně zvednout laťku kvality někam pod&nbsp;bradu.</p>
        </div>
      </div>
    </section>
    <section id="kdy">
      <div class="hc-card hc-card--flat">
        <h2 id="toc-kdy-prijet">
          <svg
            aria-hidden="true"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 95 95"
            width="56"
            height="56"
            style="display: block; margin: 0 auto">
            <path
              d="M67.9 25.8h-7.7v-2.2c0-1-.8-1.8-1.8-1.8s-1.8.8-1.8 1.8v2.2H38.5v-2.2c0-1-.8-1.8-1.8-1.8s-1.8.8-1.8 1.8v2.2h-7.7c-3.3 0-5.9 2.7-5.9 5.9v33c0 3.3 2.7 5.9 5.9 5.9H68c3.3 0 5.9-2.7 5.9-5.9v-33c-.1-3.2-2.7-5.9-6-5.9zm2.3 39c0 1.2-1 2.2-2.2 2.2H27.1c-1.2 0-2.2-1-2.2-2.2V41.3h45.3v23.5zm0-27.2H24.8v-5.8c0-1.2 1-2.2 2.2-2.2h7.7v2.2c0 1 .8 1.8 1.8 1.8s1.8-.8 1.8-1.8v-2.3h18v2.2c0 1 .8 1.8 1.8 1.8s1.8-.8 1.8-1.8v-2.2h7.7c1.2 0 2.2 1 2.2 2.2v5.9h.4z"
              fill="#fff"
            />
            <path
              d="M34.1 52.4h3c.9 0 1.6-.7 1.6-1.6V49c0-.9-.7-1.6-1.6-1.6h-3c-.9 0-1.6.7-1.6 1.6v1.8c0 .9.7 1.6 1.6 1.6zM46 52.4h3c.9 0 1.6-.7 1.6-1.6V49c0-.9-.7-1.6-1.6-1.6h-3c-.9 0-1.6.7-1.6 1.6v1.8c0 .9.7 1.6 1.6 1.6zM57.9 52.4h3c.9 0 1.6-.7 1.6-1.6V49c0-.9-.7-1.6-1.6-1.6h-3c-.9 0-1.6.7-1.6 1.6v1.8c0 .9.7 1.6 1.6 1.6zM34.1 61h3c.9 0 1.6-.7 1.6-1.6v-1.8c0-.9-.7-1.6-1.6-1.6h-3c-.9 0-1.6.7-1.6 1.6v1.8c0 .9.7 1.6 1.6 1.6zM46 61h3c.9 0 1.6-.7 1.6-1.6v-1.8c0-.9-.7-1.6-1.6-1.6h-3c-.9 0-1.6.7-1.6 1.6v1.8c0 .9.7 1.6 1.6 1.6zM57.9 61h3c.9 0 1.6-.7 1.6-1.6v-1.8c0-.9-.7-1.6-1.6-1.6h-3c-.9 0-1.6.7-1.6 1.6v1.8c0 .9.7 1.6 1.6 1.6z"
              fill="#fff"
            />
          </svg>

          Kdy přijet?
        </h2>
      </div>
      <article class="hc-card">
        <h3 class="hc-text--gay">Přelom srpna a&nbsp;září</h3>
        <p>
          Začínáme ve čtvrtek
          <time itemprop="startDate"
                datetime="{{ event.startDate | isoDate }}">{{ event.startDate | longDate }}</time>
          a končíme v&nbsp;neděli
          <time itemprop="endDate" datetime="{{ event.endDate | isoDate }}">{{ event.endDate | longDate }}</time>
          v&nbsp;poledne, hned jak se proberete po good-bye&nbsp;party.
        </p>
        <p style="margin: 2em 0 0">
          <a
            class="hc-icon-link"
            href="{{ event | calendarURL }}">
            <svg
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="16"
              height="16">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path
                d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19a2 2 0 002 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"
                fill="var(--icon-color)"
              />
            </svg>
            Přidat do kalendáře</a>
        </p>
      </article>
    </section>
  </div>
  <div class="hc-camp-bg">
    <section id="kde">
      <div class="hc-card hc-card--decorated">
        <h2 id="toc-kde-budeme">
          <svg
            aria-hidden="true"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 107 107"
            width="68"
            height="68"
            style="display: block; margin: 0 auto">
            <path
              d="M53.5 8.917c-17.254 0-31.208 13.954-31.208 31.208 0 23.406 31.208 57.958 31.208 57.958s31.208-34.552 31.208-57.958c0-17.254-13.954-31.208-31.208-31.208zm0 42.354c-6.153 0-11.146-4.993-11.146-11.146 0-6.152 4.993-11.146 11.146-11.146 6.153 0 11.146 4.994 11.146 11.146 0 6.153-4.993 11.146-11.146 11.146z"
              fill="url(#paint0_linear)"
            />
            <defs>
              <linearGradient
                id="paint0_linear"
                x1="22.286"
                y1="53.508"
                x2="84.721"
                y2="53.508"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#EE771B"/>
                <stop offset=".256" stop-color="#E9444E"/>
                <stop offset=".427" stop-color="#E62271"/>
                <stop offset=".789" stop-color="#684997"/>
                <stop offset="1" stop-color="#3E7ABC"/>
              </linearGradient>
            </defs>
          </svg>

          Kde budeme?
        </h2>
      </div>
      <div
        style="text-shadow: #222 1px 1px 2px"
        itemprop="location"
        itemscope itemtype="https://schema.org/Campground"
        class="">
        <h3>
          <a itemprop="url" href="https://www.sobenak.cz/"><span itemprop="name">Sobeňák</span>
            <em>krásný areál v srdci Brd</em></a>
        </h3>
        <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <span itemprop="streetAddress">Starý Rožmitál 148</span>
          <br>
          <span itemprop="postalCode">262 42</span>
          <span itemprop="addressLocality">Rožmitál pod Třemšínem</span>
        </p>
      </div>
    </section>
  </div>
  <div class="hc-code-bg">
    <section id="kolik" class="hc-price-list">
      <h2 id="toc-co-to-bude-stat">Co to bude stát?</h2>
      <div class="hc-price-list__text">
        <p>Na akci nevyděláváme, tvoří ji dobrovolníci, a cíleně nemáme
          sponzory. Platí ji kompletně účastníci.</p>
        <p>Do konce dubna {{ year }} si lístky můžou koupit jen hackeři, co s&nbsp;námi
          byli na předchozích ročnících. Když v&nbsp;téhle lhůtě zvládnou i&nbsp;za
          vstup zaplatit, mají od nás garantované místo i&nbsp;pro jednoho svého hosta.
          Od května začneme se zvaním dalších hackerů.</p>
      </div>
      <div class="hc-card-grid">
        <article
          itemprop="offers"
          itemscope itemtype="https://schema.org/Offer"
          class="hc-card hc-card--decorated hc-price-list__item">
          <div class="hc-price-list__header">
            <svg
              class="hc-price-list__badge"
              width="66"
              height="66"
              viewBox="0 0 66 66"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#item1_clip0)">
                <rect width="66" height="66" rx="20" fill="url(#paint5_linear)"/>
                <circle opacity="0.23" cx="52" cy="11" r="17" fill="white"/>
                <circle opacity="0.23" cx="11" cy="55" r="24" fill="white"/>
              </g>
              <defs>
                <linearGradient
                  id="paint5_linear"
                  x1="2.55465e-06"
                  y1="-8"
                  x2="66"
                  y2="73.5"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#E0E0E0"/>
                  <stop offset="1" stop-color="#BEBEBE"/>
                </linearGradient>
                <clipPath id="item1_clip0">
                  <rect width="66" height="66" rx="20" fill="white"/>
                </clipPath>
              </defs>
            </svg>

            <h3>{{ ticket["nonprofit"].name }}</h3>
          </div>
          <div class="hc-price-list__value hc-text--gay">
            <data value='{{ ticket["nonprofit"].price }}'
                  itemprop="price">{{ ticket["nonprofit"].price | price }}</data>
            &nbsp;<data value="CZK" itemprop="currency">Kč</data>
          </div>
          <p>
            Přijedu, ale rád využiju zvýhodněné vstupné. Studuju (a prokážu se ISICem na místě), nebo pracuju
            v&nbsp;neziskovce, a <em>nemůžu si dovolit zaplatit plné vstupné</em>.
          </p>
        </article>

        <article
          itemprop="offers"
          itemscope itemtype="https://schema.org/Offer"
          class="hc-card hc-card--decorated hc-price-list__item">
          <div class="hc-price-list__header">
            <svg
              class="hc-price-list__badge"
              width="66"
              height="66"
              viewBox="0 0 66 66"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#item2_clip0)">
                <rect width="66" height="66" rx="20" fill="url(#paint6_linear)"/>
                <circle opacity="0.23" cx="52" cy="11" r="17" fill="url(#paint1_linear)"/>
                <circle opacity="0.23" cx="11" cy="55" r="24" fill="url(#paint2_linear)"/>
              </g>
              <defs>
                <linearGradient
                  id="paint6_linear"
                  x1="2.55465e-06"
                  y1="-8"
                  x2="66"
                  y2="73.5"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#E0E0E0"/>
                  <stop offset="1" stop-color="#BEBEBE"/>
                </linearGradient>
                <linearGradient
                  id="paint1_linear"
                  x1="33.0682"
                  y1="21.0455"
                  x2="85.2184"
                  y2="11.0029"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#EE771B"/>
                  <stop offset="0.4271" stop-color="#E62271"/>
                  <stop offset="0.7889" stop-color="#684997"/>
                  <stop offset="1" stop-color="#3E7ABC"/>
                </linearGradient>
                <linearGradient
                  id="paint2_linear"
                  x1="-15.7273"
                  y1="69.1818"
                  x2="57.8966"
                  y2="55.0041"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#EE771B"/>
                  <stop offset="0.4271" stop-color="#E62271"/>
                  <stop offset="0.7889" stop-color="#684997"/>
                  <stop offset="1" stop-color="#3E7ABC"/>
                </linearGradient>
                <clipPath id="item2_clip0">
                  <rect width="66" height="66" rx="20" fill="white"/>
                </clipPath>
              </defs>
            </svg>

            <hgroup>
              <h3>{{ ticket["hacker"].name }}</h3>
              <h4>Normální vstupné</h4>
            </hgroup>
          </div>
          <div class="hc-price-list__value hc-text--gay">
            <data value='{{ ticket["hacker"].price }}' itemprop="price">{{ ticket["hacker"].price | price }}</data>
            &nbsp;<data value="CZK" itemprop="currency">Kč</data>
          </div>
          <p>
            Zaplatím klasické vstupné. Přispěju tak na pokrytí nákladů na svoji&nbsp;účast.
          </p>
        </article>

        <article
          itemprop="offers"
          itemscope itemtype="https://schema.org/Offer"
          class="hc-card hc-card--decorated hc-price-list__item">
          <div class="hc-price-list__header">
            <svg
              class="hc-price-list__badge"
              width="66"
              height="66"
              viewBox="0 0 66 66"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#item3_clip0)">
                <rect width="66" height="66" rx="20" fill="url(#paint3_linear)"/>
                <circle opacity="0.23" cx="52" cy="11" r="17" fill="white"/>
                <circle opacity="0.23" cx="11" cy="55" r="24" fill="white"/>
              </g>
              <defs>
                <linearGradient
                  id="paint3_linear"
                  x1="-3.75"
                  y1="52.5"
                  x2="97.4828"
                  y2="33.0057"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#EE771B"/>
                  <stop offset="0.4271" stop-color="#E62271"/>
                  <stop offset="0.7889" stop-color="#684997"/>
                  <stop offset="1" stop-color="#3E7ABC"/>
                </linearGradient>
                <clipPath id="item3_clip0">
                  <rect width="66" height="66" rx="20" fill="white"/>
                </clipPath>
              </defs>
            </svg>

            <h3>{{ ticket["hacker-plus"].name }}</h3>
          </div>
          <div class="hc-price-list__value hc-text--gay">
            <data value='{{ ticket["hacker-plus"].price }}'
                  itemprop="price">{{ ticket["hacker-plus"].price | price }}</data>
            &nbsp;<data value="CZK" itemprop="currency">Kč</data>
          </div>
          <p>
            Kromě svého vstupného přispěju i&nbsp;na to, aby mohl za lepší cenu dorazit student, nebo někdo
            z&nbsp;neziskovky. Mě neubude a jim to pomůže&nbsp;🙂
          </p>
        </article>

        <article
          itemprop="offers"
          itemscope itemtype="https://schema.org/Offer"
          class="hc-card hc-card--decorated hc-price-list__item">
          <div class="hc-price-list__header">
            <svg
              class="hc-price-list__badge"
              width="66"
              height="66"
              viewBox="0 0 66 66"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#item4_clip0)">
                <rect width="66" height="66" rx="20" fill="url(#paint10_linear)"/>
                <circle opacity="0.23" cx="52" cy="11" r="17" fill="white"/>
                <circle opacity="0.23" cx="11" cy="55" r="24" fill="white"/>
              </g>
              <defs>
                <linearGradient
                  id="paint10_linear"
                  x1="-3.75"
                  y1="52.5"
                  x2="97.4828"
                  y2="33.0057"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FDF59A"/>
                  <stop offset="0.498264" stop-color="#F1CF5D"/>
                  <stop offset="1" stop-color="#E1BB49"/>
                </linearGradient>
                <clipPath id="item4_clip0">
                  <rect width="66" height="66" rx="20" fill="white"/>
                </clipPath>
              </defs>
            </svg>

            <h3>{{ ticket["hacker-patron"].name }}</h3>
          </div>
          <div class="hc-price-list__value hc-text--gay">
            <data value='{{ ticket["hacker-patron"].price }}'
                  itemprop="price">{{ ticket["hacker-patron"].price | price }}
              +
            </data>
            &nbsp;<data value="CZK" itemprop="currency">Kč</data>
          </div>
          <p>
            Chci podpořit neziskovku i vás, protože chci podobnou akci i za rok. Přispěju vyšší částkou.
          </p>
        </article>
      </div>
      <div class="hc-price-list__text">
        <p>
          Cena vstupenky obsahuje: vstup na camp (program), ubytování - chatky nebo stany, koncerty, další doprovodný
          program, snídaně každé ráno po dobu trvání campu. Vstupenky jsou jednotné (platí po celou dobu trvání
          campu {{ event.startDate | shortDate }}-{{ event.endDate | shortDate }}
          {{ year }}).<br> Ceny jsou bez DPH.
        </p>
      </div>
    </section>

  </div>
  <section id="co-vse-cekat">
    <h2 id="toc-co-od-hacker-campu-cekat">Co od Hacker Campu čekat?</h2>

    <p>
      Děláme nekomerční a z&nbsp;principu neformální akci, kde nám má všem být dobře. Tohle jsou základní geny
      Hacker campu.
      <strong>Jediná část, kde nestrpíme kompromisy</strong>:
    </p>

    <div class="hc-card-grid">
      <div class="hc-card hc-card--decorated hc-card--centered hc-card--half">
        <p>Akce je jen pro pozvané</p>
      </div>

      <div class="hc-card hc-card--decorated hc-card--centered hc-card--half">
        <p>Tykáme si</p>
      </div>

      <div class="hc-card hc-card--decorated">
        <p>Vstupenku si kupuješ na celou akci a budeme rádi, když s&nbsp;námi zůstaneš všechny tři dny</p>
      </div>

      <div class="hc-card hc-card--decorated">
        <p>Chováme se k&nbsp;sobě slušně a ohleduplně&nbsp;&ndash; dodržujeme hygienická i&nbsp;etická pravidla
          (i&nbsp;pokud jde o&nbsp;focení se, noční klid a podobně)</p>
      </div>

      <div class="hc-card hc-card--picture hc-card--centered">
        {% set publicId = collections.images["A7R04296.jpg"]["public_id"] %}
        <img
          class="responsive"
          loading="lazy"
          alt=""
          width="500"
          height="281"
          src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
          srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
      </div>

      <div class="hc-card hc-card--decorated">
        <p>Jsme v&nbsp;přírodě a chováme se i&nbsp;k&nbsp;ní ohleduplně (třídíme odpad a ideálně odjíždíme
          beze&nbsp;stop)</p>
      </div>

      <div class="hc-card hc-card--picture hc-card--centered">
        {% set publicId = collections.images["9895_0041.jpg"]["public_id"] %}
        <img
          class="responsive"
          loading="lazy"
          alt=""
          width="500"
          height="281"
          src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
          srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
      </div>

      <div class="hc-card hc-card--decorated hc-card--centered hc-card--half">
        <p>Nemáme žádné VIP zóny</p>
      </div>

      <div class="hc-card hc-card--decorated hc-card--half">
        <p>Každý účastník je zároveň tvůrce akce.</p>
      </div>

      <div class="hc-card hc-card--picture hc-card--centered">
        {% set publicId = collections.images["IMG_5068.jpg"]["public_id"] %}
        <img
          class="responsive"
          loading="lazy"
          alt=""
          width="500"
          height="281"
          src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
          srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
      </div>

      <div class="hc-card hc-card--picture hc-card--centered">
        {% set publicId = collections.images["IMG_5822.jpg"]["public_id"] %}
        <img
          class="responsive"
          loading="lazy"
          alt=""
          width="500"
          height="281"
          src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
          srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
      </div>

      <div class="hc-card hc-card--decorated">
        <p>Přivést můžeš i&nbsp;jakýkoliv doprovodný program&nbsp;&ndash; uvítáme vše od pípy, baristy a přípravy kávy
          až po&nbsp;DJs.</p>
      </div>

      <div class="hc-card hc-card--picture hc-card--centered">
        {% set publicId = collections.images["IMG_5046.jpg"]["public_id"] %}
        <img
          class="responsive"
          loading="lazy"
          alt=""
          width="500"
          height="281"
          src='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="auto") }}'
          srcset='{{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1") }} 1x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="1.5") }} 1.5x,
                  {{ publicId | cloudinaryUrl(width=500, height=281, crop="fill", dpr="2") }} 2x'>
      </div>

      <div class="hc-card hc-card--decorated">
        <p>Hacker Camp je z&nbsp;principu nekomerční akce. Svoji vlastní službu nebo produkt můžeš propagovat a
          nabízet jen pokud to obohatí samotnou&nbsp;akci
          <code>#NoDirectSales</code>&#x0020;
          <code>#NoDirectHiring</code></p>
      </div>
    </div>
  </section>
  <section id="o-nas">
    <h2 id="toc-kdo-jsme">Kdo jsme</h2>
    <div class="hc-card-grid">
      <div class="hc-card hc-card--decorated">
        <p>Nápad na Hacker Camp vznikl v&nbsp;hlavě Kuby Balady. Náš core organizační
          tým je složený z&nbsp;Páji, Irči, Jirky, Aleše, Kuby a Kosiho.</p>
      </div>
      <div class="hc-card hc-card--decorated">
        <p>Všichni jsme součástí české tech scény. Znáte nás ze startupů,
          neziskovek i&nbsp;akcí, kde jsme se už určitě potkali.</p>
      </div>
      <div class="hc-card hc-card--decorated">
        <p>Z&nbsp;předchozích ročníků máme vyzkoušeno, že tenhle typ akce nám
          v&nbsp;Česku chyběl. Víme, že v&nbsp;netradičních set-upech a prostředích
          vznikají ty nejlepší nečekané nápady. Pojeďte si s&nbsp;námi užít
          Hacker&nbsp;Camp!</p>
      </div>
      <div class="hc-card hc-card--picture hc-card--centered">
        {% set publicId = collections.images["footer.avif"]["public_id"] %}
        <img
          class="responsive"
          loading="lazy"
          alt=""
          width="1200"
          height="600"
          src='{{ publicId | cloudinaryUrl(width=1200, height=600, crop="fill", dpr="auto") }}'
          srcset='{{ publicId | cloudinaryUrl(width=1200, height=600, crop="fill", dpr="1") }} 1x,
                {{ publicId | cloudinaryUrl(width=1200, height=600, crop="fill", dpr="1.5") }} 1.5x,
                {{ publicId | cloudinaryUrl(width=1200, height=600, crop="fill", dpr="2") }} 2x'>
      </div>
    </div>
  </section>

  {% if event.isRegistrationOpen %}
    <section>
      <p style="text-align: center">
        <a
          href="/registrace/"
          class="hc-cta">Zažij s námi Hacker Camp</a>
      </p>
    </section>
  {% endif %}
{% endblock %}
