{% extends "layouts/application.njk" %}

{% block title %}Ubytování uloženo{% endblock %}
{% block head %}
  <style>
    hr {
      border: 0 none;
      height: 1px;
      background-color: #f2f2fa;
      margin: 24px 0;
    }

    .form-story {
      text-align: center;
      max-width: 40em;
      margin: 2lh auto;
      font-weight: 400;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="hc-code-bg">
    <header class="hc-hero">
      <div class="hc-hero__inner">
        <h1>Uloženo!</h1>
      </div>
      <div class="form-story">
        <p>Potvrzení jsme poslali na Slack. Najdeš v něm i odkaz <br>pro eventuélní změny.</p>
      </div>
    </header>
  </div>
{% endblock %}
