{% extends "layouts/application.njk" %}

{% block title %}Nápověda k Hacker Camp Donut{% endblock %}

{% block head_stylesheets %}
  <style>
    article p {
      max-width: 50em;
      text-wrap: pretty;
    }
    article :is(ul, ol) {
      max-width: 45em;
      text-wrap: pretty;
    }
    main {
      margin: 0 auto;
      max-width: 56em;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Nápověda</h1>
  <article id="slack-prihlaseni">
    {% markdown "help/slack-login.md" %}
  </article>

  <article id="zmena-emailu">
    {% markdown "help/change-email.md" %}
  </article>
{% endblock %}
