{% extends "layouts/application.njk" %}

{% block title %}Nápověda k Hacker Camp Donut{% endblock %}

{% block content %}
  <div class="mdc-layout-grid">
    <h1>Nápověda</h1>
    <article id="slack-prihlaseni">
      <h2>Příhlášení pomocí Slacku</h2>
      <p>Díky tomu, že Slack umožňuje přihlášení do mnoha Workspaces
        s&nbsp;různými e-mailovými adresami, mohou být věci dosti komplikované.</p>

      <h3 id="toc-desktop">Desktop</h3>

      <ol>
        <li>Jdi na stránku <a
            href="https://hackercampworkspace.slack.com/forgot/signin">https://hackercampworkspace.slack.com/forgot/signin</a>
        </li>

        <li>Vyplň e-mailovou adresu, na kterou ti přišla pozvánka na Slack
          Hacker&nbsp;Campu
        </li>

        <li>Do e-mailu ti přijde jednorázové přihlášení, klikni na Sign&nbsp;In.</li>

        <li>Klikni na use <a href="https://hackercampworkspace.slack.com/">Slack in your
            browser</a>.
        </li>

        <li>Tvůj prohlížeč je přihlášený k&nbsp;<strong>Hacker Camp
            Workspace</strong> a můžeš se přihlásit do&nbsp;<a
            href="https://donut.hackercamp.cz">https://donut.hackercamp.cz</a></li>
      </ol>

      <h3 id="toc-mobil">Mobil</h3>

      <p>Pro úspěšné přihlášení do <a
          href="https://donut.hackercamp.cz">https://donut.hackercamp.cz</a> v&nbsp;mobilu
        budeš potřebovat&nbsp;heslo.</p>

      <ol>
        <li>Nastav si heslo pro přístup do Slacku na <a
            href="https://hackercampworkspace.slack.com/account/settings#password">https://hackercampworkspace.slack.com/…unt/settings#…</a>
        </li>

        <li>Přejdi do <a
            href="https://donut.hackercamp.cz/">https://donut.hackercamp.cz/</a> a zmáčkni
          tlačítko <strong>Přihlásit se přes&nbsp;Slack</strong></li>

        <li>Přihlas se e-mailovou adresu, na kterou ti přišla pozvánka na Slack
          Hacker Campu a heslem vytvořeným v&nbsp;prvním&nbsp;kroku
        </li>
      </ol>
    </article>
  </div>
{% endblock %}
