{% extends 'layouts/application.njk' %}

{% block title %}Registrace pro Hackery{% endblock %}
{% block head %}
  <style>
    #reg {
      max-width: 40em;
    }

    #reg h2 {
      margin-left: auto;
      margin-right: auto;
    }

    #reg p.disclaimer {
      text-align: center;
      font-size: 14px;
      padding: 24px;
    }

    #reg section {
      margin-bottom: 24px;
    }

    #reg section p {
      text-align: center;
    }

    #reg h3 {
      font-size: 16px;
    }

    .section-story {
      font-size: 14px;
    }

    #reg input,
    #reg select {
      font-family: var(--hc-font-family);
      font-size: 16px;
      letter-spacing: 0;
      line-height: 1.5;
      font-kerning: normal;
      font-variant-numeric: lining-nums slashed-zero;
      font-variant-ligatures: common-ligatures contextual;
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
      font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: geometricPrecision;
    }

    #reg .field {
      display: flex;
      flex-direction: column;
      padding-bottom: 4px;
      flex: 1;
    }

    #reg [aria-hidden="true"] {
      display: none;
    }

    #reg .field label {
      flex: 1;
      padding-top: 4px;
      padding-bottom: 2px;
    }

    #reg .field input,
    #reg .field textarea,
    #reg .field select {
      flex: 2;
      font-size: 16px;
      padding: 4px;
    }

    #reg .field select {
      min-height: 36px;
    }

    #reg .field--block {
      margin-bottom: 16px;
    }

    #reg .group {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 490px) {
      #reg .group {
        gap: 8px;
        flex-direction: row;
      }
    }

    #reg .question {
      text-align: center;
      padding-top: 12px;
    }

    #reg .question input {
      width: 16px;
      height: 16px;
    }

    #reg .choose {
      display: flex;
    }

    #reg .choose:not(:last-child) {
      margin-bottom: 24px;
    }

    #reg .choose input {
      width: 16px;
      height: 16px;
    }

    #reg .choose > label,
    #reg .choose > div {
      padding-left: 8px;
      display: block;
      flex: 1;
    }

    #reg .choose input:not(:checked) + div .patron-allowance {
      display: none;
    }

    #reg .choose .patron-allowance input {
      width: 120px;
    }

    #reg label span {
      display: block;
      font-size: 14px;
    }

    .patron-allowance {
      display: block;
      margin-top: 8px;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="hc-code-bg">
    <header id="top" class="hc-hero mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div
          class="hc-hero__inner mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
        >
          <h1>Potvrzení registrace</h1>
        </div>
      </div>
      <div class="form-story">
        <p>Ahoj!</p>
        <p>Moc nás těší Tvůj zájem o&nbsp;účast na Hacker Campu!<br>(31. srpna až 3. září 2023)</p>
        <p>Prosím, zkontroluj nebo doplň o sobě základní info.</p>
        <p>Kdyby cokoliv, kontaktuj nás na Slacku. Tvoje Hacker Camp Crew</p>
        <hr/>
        <p>
          Pokud <strong>nemáš zájem</strong> zúčastnit se letošního ročníku,
          klikni na
          <a class="" href="javascript:optout()">Odhlásit odběr</a>
          a my tě letos už nebudeme otravovat.
        </p>
        <script>
          async function optout() {
            if (!confirm("Opravdu se letos nezúčastníš? Tohle nejde vzít zpět.")) {
              return;
            }
            try {
              const {email} = JSON.parse(localStorage.getItem("slack:profile"));
              await fetch(
                "https://api.hackercamp.cz/v1/optout",
                {
                  method: "POST",
                  body: new URLSearchParams({
                    email,
                    year: "{{ currentYear }}"
                  }),
                  headers: {
                    Accept: "application/json",
                    "Content-Type": "application/x-www-form-urlencoded"
                  }
                }
              )
              if (confirm("Ohlášeno. Díky za ochotu.")) {
                window.location.href = "https://hackercamp.cz/";
              }
            } catch (E_r) {
              console.error(E_r);
              alert("Se nepovedlo, zkusim prosím jiny.");
            }
          }
        </script>
      </div>
    </header>
  </div>
  <form action="{{ build["api-host"] }}registration" method="post" class="mdc-layout-grid" id="reg">
    <section>
      <h2>Hacker</h2>
      <div class="hc-card">
        <div class="group">
          <div class="field">
            <label for="firstname">
              Jméno
            </label>
            <input id="firstname" name="firstName" type="text" autocomplete="given-name" required>
          </div>
          <div class="field">
            <label for="lastname">
              Příjmení
            </label>
            <input id="lastname" name="lastName" type="text" autocomplete="family-name" required>
          </div>
        </div>
        <div class="group">
          <div class="field">
            <label for="email">
              E-mail
            </label>
            <input id="email" name="email" type="email" autocomplete="email" required>
          </div>
          <div class="field">
            <label for="phonenum">
              Telefon
            </label>
            <input id="phonenum" name="phone" type="tel" autocomplete="tel" required>
          </div>
        </div>
        <div class="field">
          <label for="company">
            Jméno firmy
            (jednotlivec nemusí)
          </label>
          <input id="company" name="company" type="text" autocomplete="on"/>
        </div>
      </div>
    </section>
    <section id="plus-one-section" aria-hidden="true">
      <h2>Tvé +1</h2>
      <p>
        Víme od tebe, že bys rád pozval svou +1.
        Zkontroluj, že jsi nám vypnil všechny údaje,
        abychom nového hackera mohli k registraci <strong>a taky platbě (mrk mrk)</strong> vyzvat.
      </p>
      <div class="hc-card">
        <div class="group">
          <div class="field">
            <label for="plus-firstname">
              Jméno
            </label>
            <input id="plus-firstname" name="plusFirstName" type="text"/>
          </div>
          <div class="field">
            <label for="lastname">
              Příjmení
            </label>
            <input id="plus-lastname" name="plusLastName" type="text"/>
          </div>
        </div>
        <div class="group">
          <div class="field">
            <label for="plus-email">
              E-mail
            </label>
            <input id="plus-email" name="plusEmail" type="email"/>
          </div>
          <div class="field">
            <label for="plus-phonenum">
              Telefon
            </label>
            <input id="plus-phonenum" name="plusPhone" type="tel"/>
          </div>
        </div>
        <div class="field">
          <label for="plus-company">
            Jméno firmy
          </label>
          <input id="plus-company" name="plusCompany" type="text" autocomplete="on">
        </div>
        <div class="field">
          <label for="plus-reason">
            Proč by měl/a na HC být?
          </label>
          <input id="plus-reason" name="plusReason" type="text" placeholder="Zajímá se o ..., baví ji ... a je ..."/>
        </div>
      </div>
    </section>
    <!-- <script type="module"> -->
    <!--   document.querySelector("select#plus-one").addEventListener("change", (event) => { -->
    <!--     if (parseInt(event.target.value)) { -->
    <!--       document.querySelector("#plus-one-section").removeAttribute("aria-hidden"); -->
    <!--     } else { -->
    <!--       document.querySelector("#plus-one-section").setAttribute("aria-hidden", "true"); -->
    <!--     } -->
    <!--   }); -->
    <!-- </script> -->
    <section>
      <h2>Lístek</h2>
      <div class="hc-card">
        <div class="choose">
          <input type="radio" name="ticketType" value="nonprofit" id="ticket-nonprofit"/>
          <label for="ticket-nonprofit">
            <strong>Táborník z neziskovky</strong> - 3&thinsp;000&nbsp;CZK
            <span>Zvýhodněné vstupné (pro neziskové organizace a studenty)</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="ticketType" value="hacker" checked="checked" id="ticket-hacker"/>
          <label for="ticket-hacker">
            <strong>Hacker</strong> - 6&thinsp;000&nbsp;CZK<br/>
            <span>Normální vstupné</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="ticketType" value="hacker-plus" id="ticket-hacker-plus"/>
          <label for="ticket-hacker-plus">
            <strong>Hacker filantrop</strong> - 9&thinsp;000&nbsp;CZK
            <span>Normální vstupné + příspěvek na vstupné pro neziskové organizace a studenty</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="ticketType" value="hacker-patron" id="ticket-patron"/>
          <div>
            <label for="ticket-patron">
              <strong>Patron campu</strong>
              <span>Chci podpořit neziskovku i vás, protože chci podobnou akci i za rok.</span>
            </label>
            <label class="patron-allowance">
              Přispěju částkou 9&thinsp;000&nbsp;CZK +
              <input type="text" name="patronAllowance"/>&nbsp;CZK
            </label>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2>Fakturace</h2>
      <div class="hc-card">
        <div class="field">
          <label for="invoice-recipient">
            Kdo to zaplatí?
          </label>
          <select name="invRecipient" id="invoice-recipient">
            <option value="0">No, budu to muset být já (jedu sám nebo mám na starosti víc lidí)</option>
            <option value="1">Někdo jiný (vedoucí výpravy naší skupiny)</option>
          </select>
        </div>
        <div id="I-will-pay">
          <div class="field">
            <label for="invoice-name">
              Jméno / název společnosti
            </label>
            <input id="invoice-name" name="invName" type="text" required placeholder="Kancelář prezidenta republiky"/>
          </div>
          <div class="field">
            <label for="invoice-address">
              Adresa (Ulice č.p., PSČ, Město)
            </label>
            <input id="invoice-address" name="invAddress" type="text" required
                   placeholder="Hrad I. nádvoří 1, Hradčany, 119 08 Prague 1"/>
          </div>
          <div class="group">
            <div class="field">
              <label for="invoice-regno">
                IČO
              </label>
              <input id="invoice-regno" name="invRegNo" type="text" placeholder="48136000"/>
            </div>
            <div class="field">
              <label for="invoice-vatno">
                DIČ
              </label>
              <input id="invoice-vatno" name="invVatNo" type="text"/>
            </div>
          </div>
          <div class="field">
            <label for="invoice-text">
              Text na faktuře
            </label>
            <input id="invoice-text" name="invText" type="text"/>
          </div>
          <div class="field">
            <label for="invoice-email">
              Kontakt pro fakturaci
            </label>
            <input id="invoice-email" name="invEmail" type="email" autocomplete="email" placeholder="invoices@hrad.cz"/>
          </div>
        </div>
        <div id="someone-else-will-pay" aria-hidden="true">
          <div class="group">
            <div class="field">
              <label for="invoice-recipient-firstname">
                Jméno
              </label>
              <input id="invoice-recipient-firstname" name="invRecipientFirstname" type="text" required>
            </div>
            <div class="field">
              <label for="invoice-recipient-lastname">
                Příjmení
              </label>
              <input id="invoice-recipient-lastname" name="invRecipientLastname" type="text" required>
            </div>
          </div>
          <div class="group">
            <div class="field">
              <label for="invoice-recipient-email">
                E-mail
              </label>
              <input id="invoice-recipient-email" name="invRecipientEmail" type="email" required>
            </div>
            <div class="field">
              <label for="invoice-recipient-phone">
                Telefon
              </label>
              <input id="invoice-recipient-phone" name="invRecipientPhone" type="tel"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="module">
      function showSection(id) {
        const section = document.getElementById(id);
        section.removeAttribute("aria-hidden");
        for (const input of section.querySelectorAll("[data-required]")) {
          input.setAttribute("required", "required");
        }
      }
      function hideSection(id) {
        const section = document.getElementById(id);
        section.setAttribute("aria-hidden", "true");
        for (const input of section.querySelectorAll("[required]")) {
          input.dataset.required = true;
          input.removeAttribute("required");
        }
      }
      hideSection("someone-else-will-pay");
      document.querySelector("#email").addEventListener("blur", event => {
        document.querySelector("#invoice-email").setAttribute("placeholder", event.target.value);
      });
      document.querySelector("#invoice-recipient").addEventListener("change", event => {
        if (event.target.value == 0) {
          showSection("I-will-pay");
          hideSection("someone-else-will-pay");
        } else if (event.target.value == 1) {
          hideSection("I-will-pay");
          showSection("someone-else-will-pay");
        }
      });
    </script>
    <p class="disclaimer">
      Následující informace bude možné doplnit později. Pokud ale už znáš odpovědi, můžeš si je tu připravit - změnit je
      bude možné :)
    </p>
    <section>
      <h2>Ubytování</h2>
      <div class="hc-card">
        <div class="field">
          <label for="stay-time">
            Na jak dlouho dorazíš?
          </label>
          <select name="stayTime" id="stay-time">
            <option value="0">Od čtvrtka večera do neděle</option>
            <option value="1">Od pátku do neděle</option>
            <option value="2">Jiné?</option>
          </select>
        </div>
        <div class="field" aria-hidden="true">
          <label for="custom-stay-time">
            Napiš nám, jak to plánuješ
          </label>
          <input id="custom-stay-time" name="stayTimeCustom" type="text"/>
        </div>
        <h3>Jak a kde budeš spát?</h3>
        <div class="choose">
          <input type="radio" name="housing" value="own-car" id="car-housing"/>
          <label for="car-housing">
            Přijedu autem a budu v něm i spát
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="housing" value="own-caravan" id="caravan-housing"/>
          <label for="caravan-housing">
            Přivezu si <strong>vlastní karavan</strong>, ve kterém chci spát
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="housing" value="open-air" id="openair-housing"/>
          <label for="openair-housing">
            Jsem pankáč a budu spát <strong>pod širákem</strong> nebo v&nbsp;hamace
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="housing" value="own-tent" id="own-housing" checked="checked"/>
          <label for="own-housing">
            Přivezu si <strong>vlastní stan</strong> a v něm budu spát
            <span>v areálu je k dispozici louka pro stanování</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="housing" value="glamping" id="glamping-housing"/>
          <label for="glamping-housing">
            Dejte mi místo <strong>v Glamping stanu</strong>
            <span>
            Stany bereme od <a href="https://chillvillage.cz/">chillvillage.cz</a> a budou mít kapacity pro 4 - 6 lidí
          </span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="housing" value="cottage" id="cottage-housing"/>
          <label for="cottage-housing">
            Chci postel <strong>v chatce</strong> pro 2, 4 nebo 6
            <span>
            Konkrétní postel si vybereš po zaplacení faktury
          </span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="housing" value="nearby" id="nearby-housing"/>
          <label for="nearby-housing">
            Využiji možnost <strong>ubytování v okolí</strong> (penzion, hotel)
            <span>
            V okolí je několik hezkých penzionů, zeptej se crew na případné tipy.
          </span>
          </label>
        </div>
      </div>
    </section>
    <script type="module">
      document.querySelector("select#stay-time").addEventListener("change", event => {
        if (event.target.value == 2) {
          document.querySelector("#custom-stay-time").parentElement.removeAttribute("aria-hidden");
        } else {
          document.querySelector("#custom-stay-time").parentElement.setAttribute("aria-hidden", "true");
        }
      });
    </script>
    <section>
      <h2>Zapojení</h2>
      <div class="hc-card">
        <p>Každý z účastníků je zároveň aktivní tvůrce programu. Ať jsi jednotlivec, nebo se hlásíš za tým, jak náš
          Hacker Camp můžeš obohatit? Nápady nelimitujeme :) Můžeš přispět přednáškou, workshopem, panelovkou,
          zorganizovat ranní výběh nebo turnaj ve fotbálku. Přivést můžeš i jakýkoliv doprovodný program – uvítáme vše
          od pípy, baristy a přípravy kávy až po DJs.</p>
        <p>V každé aktivitě respektujeme základní pravidlo: Hacker Camp je z principu nekomerční akce. Svoji vlastní
          službu nebo produkt můžeš propagovat a nabízet jen pokud to obohatí samotnou akci.</p>
        <div class="field field--block">
          <label for="activity">
            Jakou aktivitu sis pro táborníky připravil?
          </label>
          <textarea id="activity" name="activity" rows="5"></textarea>
        </div>
        <div class="field field--block">
          <label for="activity-crew">
            Kdo všechno s Tebou bude aktivitu zařízovat?
            <span>Vypiš nám sem všechna jména a dej nám telefonní číslo a mail na toho, s kým můžeme případně řešit.</span>
          </label>
          <textarea id="activity-crew" name="activityCrew" rows="5"></textarea>
        </div>
        <div class="field field--block">
          <label for="activity-place">
            Potřebuješ k tomu nějaké speciální zázemí?
            <span>Například zásuvku, elektriku, internet, klidné zákoutí…</span>
          </label>
          <textarea id="activity-place" name="activityPlace" rows="3"></textarea>
        </div>
      </div>
    </section>
    <section>
      <h2>Cesta / doprava</h2>
      <div class="hc-card">
        <h3>Jak se na camp dopravíš?</h3>
        <p>Jak se na camp dopravíš? Prosím zajisti si co nejvíc hromadný odvoz.
          Jsme v&nbsp;přírodě, čím méně aut tím lépe. Nechceme mít z&nbsp;lesa
          parkoviště. Pokud jedeš autem, prosím nalož ho alespoň 3&nbsp;lidmi. My
          i&nbsp;příroda ti děkujeme!</p>
        <div class="choose">
          <input type="radio" name="travel" value="full-car" id="full-car"/>
          <label for="full-car">
            Přijedu autem a jsme full - jedeme ve 4
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="free-car" id="free-car"/>
          <label for="free-car">
            Přijedu autem a nabídnu spolujízdu
            <span>(budeme domlouvat na Hacker Camp slacku), abych nabral s sebou minimálně další 3 lidi</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="carpool" id="carpool"/>
          <label for="carpool">
            S někým se svezu,
            <span>počkám, kdo nabídne spolujízdu</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="bus" id="bus"/>
          <label for="bus">
            Chci jet Hacker busem z Brna a okolí!
            <span>Tuhle variantu doplníme podle toho jaký o ní bude zájem</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="no-car" id="no-car"/>
          <label for="no-car">
            Nejedu autem (využiju bus, vlak, kolo, pěškobusem),
            <span><strong>parking nepotřebuju</strong></span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="no-car-but-info" id="no-car-but-info"/>
          <label for="no-car-but-info">
            Nejedu autem, ale zajímá mě, jestli mě umíte nějakým
            shuttlem přiblížit Campu
          </label>
        </div>
      </div>
    </section>
    <section>
      <h2>Drobné věci na závěr</h2>
      <div class="hc-card">
        <h3>Cheš tričko?</h3>
        <p>V rámci aktivit si budeš moci vlastnoručně vytisknout tričko!
          Pokud máš zájem, vyber si velikost, jakou máme objednat.</p>
        <div class="choose">
          <input type="checkbox" name="t-shirt" value="1" id="shirt"/>
          <label for="shirt">Chci tričko</label>
        </div>
        <div class="field">
          <label for="shirt-size">Velikost</label>
          <select name="t-shirt-size" id="shirt-size" disabled>
            <option value="">Vyber si</option>
            <option value="S">Malé (S)</option>
            <option value="M">Střední (M)</option>
            <option value="L">Velké (L)</option>
            <option value="XL">Ještě větší (XL)</option>
          </select>
        </div>
      </div>
      <script type="module">
        const shirt = document.querySelector("#shirt");
        const shirtSize = document.querySelector("#shirt-size");
        shirt.addEventListener("change", (e) => {
          shirtSize.disabled = !e.target.checked;
        });
      </script>
    </section>
    <section>
      <button type="submit" class="hc-button">
        Potvrdit a odeslat
      </button>
    </section>
    <input type="hidden" name="year" value="{{ build.year }}"/>
    <input type="hidden" name="referral"/>
  </form>
  <script type="module">
    const formElement = document.querySelector("#reg");
    const submitButtonElement = formElement.querySelector("button[type=submit]");

    const {searchParams} = new URL(location.href);
    const year = formElement.elements.year.value;

    try {
      const {email, sub: sid} = JSON.parse(localStorage.getItem("slack:profile"));
      const response = await fetch(
        `https://api.hackercamp.cz/v1/registration?${new URLSearchParams({email, year, slackID: sid})}`,
        {headers: {Accept: "application/json"}}
      );
      const data = await response.json();

      if (data.invoiced || data.paid) disableForm();

      if (data.plusFirstName || data.plusLastName) {
        document.querySelector("#plus-one-section").removeAttribute("aria-hidden");
      }

      for (let key in data) {
        const field = formElement.elements[key];
        let value = data[key];
        if (!field || !value) continue;
        const isRadio = field.length && field[0].type === "radio";
        if (isRadio) {
          formElement.querySelector(`[value="${value}"]`).setAttribute("checked", "checked");
        } else if (field.type === "textarea") {
          field.innerText = value;
        } else if (field.type === "select-one") {
          if (value === true) value = "1";
          field.querySelector(`[value="${value}"]`).setAttribute("selected", "selected");
          field.dispatchEvent(new Event("change"));
        } else {
          field.setAttribute("value", value);
        }
      }
    } catch (o_O) {
      console.error(o_O);
      alert("Něco se kouslo, zkuste to jindy.");
    }

    formElement.addEventListener("submit", event => {
      event.preventDefault();
      submitButtonElement.setAttribute("disabled", "disabled");

      fetch(event.target.action, {
        method: "POST",
        body: new URLSearchParams(new FormData(event.target)),
        headers: {
          Accept: "application/json",
          "Content-Type": "application/x-www-form-urlencoded"
        }
      })
        .then(response => {
          if (!response.ok) {
            throw response;
          }
          return response.json();
        })
        .then(data => {
          location.href = "/registrace/potvrzeno/";
        })
        .catch((o_O) => {
          console.error(o_O);
          alert("Se to někdě zaseklo, zkuste to prosím znovu");
        })
        .finally(() => {
          submitButtonElement.removeAttribute("disabled");
        })
    });

    function disableForm() {
      formElement.setAttribute("disabled", "disabled");
      formElement.querySelectorAll("input, textarea, select").forEach(field => {
        field.setAttribute("disabled", "disabled");
      });
      formElement.querySelectorAll("button").forEach(button => {
        button.setAttribute("disabled", "disabled");
      });
    }

  </script>
{% endblock %}
