{% extends "layouts/application.njk" %}

{% block title %}Registrace pro Hackery{% endblock %}

{% block head_stylesheets %}
  <style>
    #reg {
      max-width: 40em;
      margin-inline: auto;
    }

    #reg h2 {
      margin-left: auto;
      margin-right: auto;
    }

    #reg p.disclaimer {
      font-size: 14px;
      text-align: center;
      text-wrap: balance;
      padding: 24px;
    }

    #reg section {
      margin-bottom: 24px;
    }

    #reg section p {
      text-align: left;
      text-wrap: pretty;
    }

    #reg section .hc-card:not(:last-child) {
      margin: 2em 0;
    }

    #reg section .hc-card h3:first-child {
      margin-top: 0;
    }

    #reg h3 {
      font-size: 16px;
    }

    .section-story {
      font-size: 14px;
    }

    .form-story ul li {
      text-align: left;
      line-height: 2;
    }

    #reg input,
    #reg select {
      font-family: var(--hc-font-family);
      font-size: 16px;
      letter-spacing: 0;
      line-height: 1.5;
      font-kerning: normal;
      font-variant-numeric: lining-nums slashed-zero;
      font-variant-ligatures: common-ligatures contextual;
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
      font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: geometricPrecision;
      width: 100%;
      box-sizing: border-box;
    }

    #reg .field {
      display: flex;
      flex-direction: column;
      padding-bottom: 4px;
      flex: 1;
    }

    #reg fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    #reg .field label {
      flex: 1;
      padding-top: 4px;
      padding-bottom: 2px;
    }

    #reg .field input,
    #reg .field textarea,
    #reg .field select {
      flex: 2;
      font-size: 16px;
      padding: 4px;
      width: 100%;
      box-sizing: border-box;
    }

    #reg .field select {
      min-height: 36px;
    }

    #reg .field--block {
      margin-bottom: 16px;
    }

    #reg .group {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 490px) {
      #reg .group {
        gap: 8px;
        flex-direction: row;
      }
    }

    #reg .question {
      text-align: center;
      padding-top: 12px;
    }

    #reg .question input {
      width: 16px;
      height: 16px;
    }

    #reg .choose {
      display: flex;
    }

    #reg .choose:not(:last-child) {
      margin-bottom: 24px;
    }

    #reg .choose input {
      width: 16px;
      height: 16px;
    }

    #reg .choose > label,
    #reg .choose > div {
      padding-left: 8px;
      display: block;
      flex: 1;
    }

    #reg .choose input:not(:checked) + div .patron-allowance {
      display: none;
    }

    #reg .choose .patron-allowance input {
      width: 120px;
    }

    #reg label span {
      display: block;
      font-size: 14px;
    }

    .patron-allowance {
      display: block;
      margin-top: 8px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="hc-code-bg">
    <header id="top" class="hc-hero">
      <div class="hc-hero__inner">
        <h1>Chci na Hacker Camp</h1>
      </div>
      <div id="hacker-greeting" class="form-story hacker">
        {% markdown "registrace/hacker-greeting.md" %}
      </div>
      <div id="volunteer-greeting" class="form-story volunteer" hidden>
        {% markdown "registrace/volunteer-greeting.md" %}
      </div>
    </header>
  </div>
  <form action="{{ collections.build['api-host'] }}registration" method="post" id="reg">
    <section id="contact">
      <h2>Hacker</h2>
      <div class="hc-card">
        <fieldset>
          <div class="group">
            <div class="field">
              <label for="firstname">
                Jméno
              </label>
              <input id="firstname" name="firstName" type="text"
                     autocomplete="given-name" required>
            </div>
            <div class="field">
              <label for="lastname">
                Příjmení
              </label>
              <input id="lastname" name="lastName" type="text" autocomplete="family-name" required>
            </div>
          </div>
          <div class="group">
            <div class="field">
              <label for="email">
                E-mail (osobní)
              </label>
              <input id="email" name="email" type="email" autocomplete="home email" required>
            </div>
            <div class="field">
              <label for="phonenum">
                Telefon
              </label>
              <input id="phonenum" name="phone" type="tel" autocomplete="mobile tel" required>
            </div>
          </div>
          <div class="field">
            <label for="company">
              Jméno firmy (jednotlivec nemusí)
            </label>
            <input id="company" name="company" type="text" autocomplete="organization">
          </div>
        </fieldset>
      </div>
      <fieldset id="volunteer" class="volunteer" disabled hidden>
        <div class="hc-card">
          <input type="hidden" name="ticketType" value="volunteer">
          <h3>Jak se zapojím</h3>
          <p>Zde je výčet hlavních aktivit. Můžeš zaškrtnout i&nbsp;více odpovědí.
            Prosím počítej s&nbsp;tím, že některé aktivity jsou spíše nárazové,
            takže je možné, že tě využijeme i&nbsp;někde jinde a síly rozložíme dle
            potřeby. Nejsi si ještě jistý svým zapojením? K&nbsp;dotazníku se můžeš
            zpětně vrátit, teď potřebujeme zjistit, s&nbsp;kým můžeme počítat&nbsp;:)</p>
          <div class="choose">
            <input type="checkbox" name="volunteerInfoDeskAndRegistration" id="volunteer-info-reg">
            <label for="volunteer-info-reg">Budu pomáhat s registrací a ubytováním účastníků, úschovnou a info stánkem
              (<strong>Dobrovolník Makám během campu</strong>)</label>
          </div>
          <div class="choose">
            <input type="checkbox" name="volunteerBar" id="bar">
            <label for="bar">Budu pomáhat na baru (<strong>Dobrovolník Makám během campu</strong>)</label>
          </div>
          <div class="choose">
            <input type="checkbox" name="volunteerConstruction" id="construction">
            <label for="construction">Budu pomáhat primárně s výstavbou a likvidací areálu, parkingem aut a další
              (<strong>Dobrovolník Stavím a bourám</strong>)</label>
          </div>
          <div class="choose">
            <input type="checkbox" name="volunteerDriver" id="driver">
            <label for="driver">Budu k dispozici jako možný řidič pro účastníky, kteří budou potřebovat někam přiblížit
              (<strong>Dobrovolník Makám během campu</strong>)</label>
          </div>
          <div class="choose">
            <input type="checkbox" name="volunteerSport" id="sport">
            <label for="sport">Budu pomáhat tam, kde bude třeba: sítotisk, koordinace saunování, vaření čaje, příprava
              buřtů atd. (<strong>Dobrovolník Makám během campu</strong>)</label>
          </div>
        </div>
      </fieldset>
    </section>
    <section id="plus-one-section" hidden>
      <h2>Tvé +1</h2>
      <p>Víme od tebe, že bys rád pozval svou +1.&nbsp;Zkontroluj, že jsi nám vypnil
        všechny údaje, abychom nového hackera mohli k&nbsp;registraci <strong>a taky
          platbě (mrk mrk)</strong> vyzvat.</p>
      <div class="hc-card">
        <div class="group">
          <div class="field">
            <label for="plus-firstname">
              Jméno
            </label>
            <input id="plus-firstname" name="plusFirstName" type="text">
          </div>
          <div class="field">
            <label for="plus-lastname">
              Příjmení
            </label>
            <input id="plus-lastname" name="plusLastName" type="text">
          </div>
        </div>
        <div class="group">
          <div class="field">
            <label for="plus-email">
              E-mail
            </label>
            <input id="plus-email" name="plusEmail" type="email">
          </div>
          <div class="field">
            <label for="plus-phonenum">
              Telefon
            </label>
            <input id="plus-phonenum" name="plusPhone" type="tel">
          </div>
        </div>
        <div class="field">
          <label for="plus-company">
            Jméno firmy
          </label>
          <input id="plus-company" name="plusCompany" type="text" autocomplete="on">
        </div>
        <div class="field">
          <label for="plus-reason">
            Proč by měl/a na HC být?
          </label>
          <input id="plus-reason" name="plusReason" type="text" placeholder="Zajímá se o ..., baví ji ... a je ...">
        </div>
      </div>
    </section>
    <section id="ticket" class="hacker">
      <h2>Lístek</h2>
      <div class="hc-card">
        <fieldset>
          <div class="choose">
            <input type="radio" name="ticketType" value="nonprofit" id="ticket-nonprofit">
            <label for="ticket-nonprofit">
              <strong>{{ ticket["nonprofit"].name }}</strong> - {{ ticket["nonprofit"].price | price("CZK") }}
              <span>Zvýhodněné vstupné pro neziskové organizace a studenty, kteří si nemohou dovolit Hacker vstupné</span>
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="ticketType" value="hacker" checked id="ticket-hacker">
            <label for="ticket-hacker" id="normal-hacker-ticket">
              <strong>{{ ticket["hacker"].name }}</strong> - {{ ticket["hacker"].price | price("CZK") }}<br>
              <span>Normální vstupné</span>
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="ticketType" value="hacker-plus" id="ticket-hacker-plus">
            <label for="ticket-hacker-plus">
              <strong>{{ ticket["hacker-plus"].name }}</strong> - {{ ticket["hacker-plus"].price | price("CZK") }}
              <span>Normální vstupné + příspěvek na vstupné pro Táborníky z&nbsp;neziskovky,
                co si nemohou dovolit Hacker vstupné</span>
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="ticketType" value="hacker-patron" id="ticket-patron">
            <div>
              <label for="ticket-patron">
                <strong>{{ ticket["hacker-patron"].name }}</strong>
                <span>Chci podpořit Táborníky z&nbsp;neziskovky i&nbsp;vás, protože chci camp i&nbsp;za&nbsp;rok.</span>
              </label>
              <label class="patron-allowance">
                Přispěju částkou {{ ticket["hacker-patron"].price | price("CZK") }} +
                <input type="text" name="patronAllowance">&nbsp;Kč
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </section>
    <section id="invoice" class="hacker">
      <h2>Fakturace</h2>
      <p class="disclaimer">Tahle sekce je důležitá, abychom vám mohli vystavit fakturu za vstupenky.</p>
      <div class="hc-card">
        <fieldset>
          <div class="field">
            <label for="invoice-recipient">
              Kdo to zaplatí?
            </label>
            <select name="invRecipient" id="invoice-recipient">
              <option value="0">No, budu to muset být já (jedu sám nebo mám na starosti víc lidí)</option>
              <option value="1">Někdo jiný (vedoucí výpravy naší skupiny)</option>
            </select>
          </div>
        </fieldset>
        <fieldset id="I-will-pay">
          <p>Prosím, <strong>tohle vyplň už teď</strong>. Ušetříme si tím společně spoustu času.</p>
          <div class="field">
            <label for="invoice-name">
              Jméno / název společnosti
            </label>
            <input id="invoice-name" name="invName" type="text"
                   autocomplete="billing organization name"
                   required placeholder="Kancelář prezidenta republiky">
          </div>
          <div class="field">
            <label for="invoice-address">
              Adresa (Ulice č.p.)
            </label>
            <input id="invoice-address" name="invAddress" type="text"
              required
              autocomplete="billing street-address"
              placeholder="Hrad I. nádvoří 1">
          </div>
          <div class="group">
            <div class="field">
              <label for="invoice-address-zip">PSČ</label>
              <input type="text" id="invoice-address-zip"
                     autocomplete="billing postal-code"
                     name="invAddressZip" pattern="\d{3}\s\d{2}"
              placeholder="119 08">
            </div>
            <div class="field">
              <label for="invoice-address-city">Město</label>
              <input type="text" id="invoice-address-city" name="invAddressCity"
                     autocomplete="billing address-level2"
                     placeholder="Praha 1 - Hradčany">
            </div>
          </div>
          <div class="group">
            <div class="field">
              <label for="invoice-regno">
                IČO
              </label>
              <input id="invoice-regno" name="invRegNo" type="text" inputmode="numeric" placeholder="48136000">
            </div>
            <div class="field">
              <label for="invoice-vatno">
                DIČ
              </label>
              <input id="invoice-vatno" name="invVatNo" type="text">
            </div>
          </div>
          <div class="field">
            <label for="invoice-text">
              Mám speciální požadavek. Tohle je text, který potřebuji na faktuře
            </label>
            <input id="invoice-text" name="invText" type="text">
          </div>
          <div class="field">
            <label for="invoice-email">
              Komu pošleme fakturu?
              <span>Uveď e-mail, pokud to nejsi ty</span>
            </label>
            <input id="invoice-email" name="invEmail" type="email"
                   autocomplete="billing email" placeholder="invoices@hrad.cz">
          </div>
        </fieldset>
        <fieldset id="someone-else-will-pay" hidden disabled>
          <div class="group">
            <div class="field">
              <label for="invoice-recipient-firstname">
                Jméno
              </label>
              <input id="invoice-recipient-firstname" name="invRecipientFirstname" type="text" required>
            </div>
            <div class="field">
              <label for="invoice-recipient-lastname">
                Příjmení
              </label>
              <input id="invoice-recipient-lastname" name="invRecipientLastname" type="text" required>
            </div>
          </div>
          <div class="group">
            <div class="field">
              <label for="invoice-recipient-email">
                E-mail
              </label>
              <input id="invoice-recipient-email" name="invRecipientEmail" type="email" required>
            </div>
            <div class="field">
              <label for="invoice-recipient-phone">
                Telefon
              </label>
              <input id="invoice-recipient-phone" name="invRecipientPhone" type="tel">
            </div>
          </div>
        </fieldset>
      </div>
    </section>
    <p class="disclaimer">
      Následující informace bude možné doplnit později. Pokud ale už znáš odpovědi, můžeš si je tu připravit -
      změnit je bude možné :)
    </p>
    <section>
      <h2>Ubytování</h2>
      <div class="hc-card">
        <fieldset id="stay-time-section" class="hacker">
          <div class="field">
            <label for="stay-time">
              Na jak dlouho dorazíš?
            </label>
            <select name="stayTime" id="stay-time">
              <option value="0">Od čtvrtka večera do neděle</option>
              <option value="1">Od pátku do neděle</option>
              <option value="2">Jiné?</option>
            </select>
          </div>
          <div class="field" hidden>
            <label for="custom-stay-time">
              Napiš nám, jak to plánuješ
            </label>
            <input id="custom-stay-time" name="stayTimeCustom" type="text">
          </div>
        </fieldset>
        <fieldset hidden disabled id="stay-time-volunteer-section" class="volunteer">
          <div class="field">
            <label for="stay-time-volunteer">
              Kdy přijedeš?
            </label>
            <select name="volunteerArrivalDay" id="stay-time-volunteer">
              <option value="we">Dorazím ve středu ráno</option>
              <option value="th">Dorazím ve čtvrtek</option>
            </select>
          </div>
        </fieldset>
        <fieldset style="margin-top: 1rem">
          <h3>Jak a kde budeš spát?</h3>
          <div class="choose">
            <input type="radio" name="housing" value="own-car" id="car-housing">
            <label for="car-housing">
              Přijedu autem a budu v něm i spát
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="housing" value="own-caravan" id="caravan-housing">
            <label for="caravan-housing">
              Přivezu si <strong>vlastní karavan</strong>, ve kterém chci spát
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="housing" value="open-air" id="openair-housing">
            <label for="openair-housing">
              Jsem pankáč a budu spát <strong>pod širákem</strong> nebo v&nbsp;hamace
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="housing" value="own-tent" id="own-housing" checked="checked">
            <label for="own-housing">
              Přivezu si <strong>vlastní stan</strong> a v&nbsp;něm budu spát
              <span>v&nbsp;areálu je k&nbsp;dispozici louka pro stanování</span>
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="housing" value="glamping" id="glamping-housing">
            <label for="glamping-housing">
              Dejte mi místo <strong>v Glamping stanu</strong>
              <span>Stany maji kapacitu pro 4&nbsp;&ndash; 6&nbsp;lidí</span>
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="housing" value="cottage" id="cottage-housing">
            <label for="cottage-housing">
              Chci postel <strong>v chatce</strong> pro 2, 4 nebo 6
              <span>Konkrétní postel si vybereš po zaplacení faktury</span>
            </label>
          </div>
          <div class="choose">
            <input type="radio" name="housing" value="nearby" id="nearby-housing">
            <label for="nearby-housing">
              Využiji možnost <strong>ubytování v okolí</strong> (penzion, hotel)
              <span>V&nbsp;okolí je několik hezkých penzionů, zeptej se crew na případné&nbsp;tipy.</span>
            </label>
          </div>
        </fieldset>
      </div>
    </section>
    <section id="program" class="hacker">
      <h2>Zapojení</h2>
      <div class="hc-card">
        <p>Každý z&nbsp;účastníků je zároveň aktivní tvůrce programu.
          Popřemýšlej, jak náš Hacker Camp můžeš obohatit. Nápady nelimitujeme :)
          Ale chceme kvalitu, ne 3× převařený čaj. Pokud máš zajímavé téma,
          můžeš přispět přednáškou, workshopem, panelovkou, zorganizovat ranní
          výběh nebo turnaj ve fotbálku. Přivést můžeš i&nbsp;jakýkoliv doprovodný
          program&nbsp;&ndash; uvítáme vše od sportovního náčiní, deskovek, konzolí až
          po&nbsp;DJs.</p>

        <p>V&nbsp;každé aktivitě respektujeme základní pravidlo: Hacker Camp nás musí
          bavit. Takže neopakuj nudná témata, co už jsi mockrát ukázal/a jinde.
          Nezapomeň, že Hacker Camp je z&nbsp;principu nekomerční akce. Svoji vlastní
          službu nebo produkt můžeš propagovat a nabízet jen pokud to obohatí
          samotnou&nbsp;akci.</p>

        <p>Navrhnout můžeš cokoliv. Letos ale budeme na základě <a href="/feedback/2024">loňské zpětné vazby</a>
          návrhy ještě ověřovat. Prosím kontroluj už od srpna Slack. Ir se ti
          tam ozve, abyste program doladili.</p>

        <fieldset>
          <div class="field field--block">
            <label for="activity">
              Jakou aktivitu si pro táborníky připravíš?
            </label>
            <textarea id="activity" name="activity" rows="5"></textarea>
          </div>
          <div class="field field--block">
            <label for="activity-crew">
              Kdo všechno s tebou bude aktivitu zařízovat?
              <span>Vypiš nám sem všechna jména a dej nám telefonní číslo a mail na toho,
                s&nbsp;kým můžeme případně&nbsp;řešit.</span>
            </label>
            <textarea id="activity-crew" name="activityCrew" rows="5"></textarea>
          </div>
          <div class="field field--block">
            <label for="activity-place">
              Potřebuješ k tomu nějaké speciální zázemí?
              <span>Například zásuvku, elektriku, internet, klidné zákoutí…</span>
            </label>
            <textarea id="activity-place" name="activityPlace" rows="3"></textarea>
          </div>
        </fieldset>
      </div>
    </section>
    <section>
      <h2>Cesta / doprava</h2>
      <div class="hc-card">
        <h3>Jak se na camp dopravíš?</h3>
        <p>Jak se na camp dopravíš? Prosím zajisti si co nejvíc hromadný odvoz.
          Jsme v&nbsp;přírodě, čím méně aut tím lépe. Nechceme mít z&nbsp;lesa
          parkoviště. Pokud jedeš autem, prosím nalož ho alespoň 3&nbsp;lidmi. My
          i&nbsp;příroda ti děkujeme!</p>

        <div class="choose hacker" id="travel-full-car">
          <input type="radio" name="travel" value="full-car" id="full-car">
          <label for="full-car">
            Přijedu autem a jsme full - jedeme ve 4
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="free-car" id="free-car">
          <label for="free-car">
            Přijedu autem a nabídnu spolujízdu
            <span>(budeme domlouvat na Hacker Camp slacku), abych nabral s&nbsp;sebou minimálně
              další 3&nbsp;lidi</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="carpool" id="carpool">
          <label for="carpool">
            S někým se svezu,
            <span>počkám, kdo nabídne spolujízdu</span>
          </label>
        </div>
        <div class="choose hacker" id="travel-bus">
          <input type="radio" name="travel" value="bus" id="bus">
          <label for="bus">
            Chci jet Hacker busem z Brna a okolí!
            <span>Tuhle variantu doplníme podle toho jaký o&nbsp;ní bude zájem</span>
          </label>
        </div>
        <div class="choose">
          <input type="radio" name="travel" value="no-car" id="no-car">
          <label for="no-car">
            Nejedu autem (využiju bus, vlak, kolo, pěškobusem),
            <span><strong>parking nepotřebuju</strong></span>
          </label>
        </div>
        <div class="choose hacker" id="travel-no-car-but-info">
          <input type="radio" name="travel" value="no-car-but-info" id="no-car-but-info">
          <label for="no-car-but-info">
            Nejedu autem, ale zajímá mě, jestli mě umíte nějakým shuttlem
            přiblížit&nbsp;Campu
          </label>
        </div>
      </div>
    </section>
    <section>
      <h2>Drobné věci na závěr</h2>
      <div class="hc-card">
        <h3>Chceš tričko?</h3>
        <p>V&nbsp;rámci aktivit si budeš moci vlastnoručně vytisknout tričko! Pokud
          máš zájem, vyber si velikost, jakou máme objednat.</p>
        <div class="choose">
          <input type="checkbox" name="t-shirt" value="1" id="shirt"> <label for="shirt">Chci tričko</label>
        </div>
        <div class="field">
          <label for="shirt-size">Velikost</label>
          <select name="t-shirt-size" id="shirt-size" disabled>
            <option value="">Vyber si</option>
            <option value="S">Malé (S)</option>
            <option value="M">Střední (M)</option>
            <option value="L">Velké (L)</option>
            <option value="XL">Ještě větší (XL)</option>
          </select>
        </div>
      </div>
    </section>
    <section>
      <button type="submit" class="hc-button">
        Potvrdit a odeslat
      </button>
    </section>
    <input type="hidden" name="year" value="{{ year }}">
    <input type="hidden" name="slackID">
    <input type="hidden" name="image">
  </form>
  <script type="module">
    import { main, optout } from "{{ 'registration.js' | assetUrl('esm') }}";

    const build = {{ collections.build | dump(8) | safe }};
    const env = Object.assign({ year: {{ year }} }, build);
    const formElement = document.forms.reg;
    const submitButtonElement = formElement.querySelector("button[type=submit]");
    const { searchParams } = new URL(location.href);

    await main({ env, formElement, submitButtonElement, searchParams });

    window.optout = optout;
  </script>
{% endblock %}
